[2015-11-26 06:07] rxin opened #1 "Scoverage and Codecov integration"
Linked from https://github.com/HyukjinKwon/spark-xml/issues/10

It would be nice to have Scoverage and Codecov integration for test coverage report. As what spark-avro does. See [here](https://github.com/databricks/spark-avro/blob/master/build.sbt#L47-L50) and the "Codecov" label in the README file.

[2015-11-26 06:07] rxin opened #2 "Avoid per-record type dispatching in Row conversion"
Currently, DomXmlParser.convertObject do type dispatch over each DOM node. This is unnecessary since the schema of the relation is already known. Instead, we can first build converters dynamically according to the schema, and then apply the converter to all the nodes.

Link from https://github.com/HyukjinKwon/spark-xml/issues/9

[2015-11-26 06:08] rxin opened #3 "Using SAX instead of DOM for type inference and Row conversion"
Building a full DOM tree for each XML record is very expensive and unnecessary, since we only need to traverse the contents once for either type inference or Row conversion. Using SAX can probably win much better performance.

Link from https://github.com/HyukjinKwon/spark-xml/issues/8

[2015-11-26 06:08] rxin opened #4 "Should consider extending from Datasource V2"
So that the XML data source gains both write support and partitioning support.

Link from https://github.com/HyukjinKwon/spark-xml/issues/6

[2015-11-26 06:09] rxin opened #5 "Separate functionalities of reading from XML files and reading from RDD[String]s"
As mentioned in #4, it would be nice to have the XML data source migrated to HadoopFsRelation. However, there's a concern about reading from RDD[String].

The current version resembles early versions of the JSON data source. The JSON data source also supports reading from both JSON files and RDD[String]s that contain JSON records. Later on, the JSON data source was migrated to HadoopFsRelation for

[2015-11-26 06:09] rxin opened #6 "Should test against Hadoop 1.x and Hadoop 2.x in Travis"
This library's tests should be run against both Hadoop 1.x and 2.x in Jenkins, since binary incompatibilities in Hadoop's TaskAttemptContext class may mean that your published artifact may not be compatible with both versions. See https://github.com/databricks/spark-avro/pull/79 for an example of a similar PR against spark-avro and https://github.com/harsha2010/magellan/pull/25 for a PR against ma

[2015-11-26 06:10] rxin opened #7 "Classes probably shouldn't be in org.apache.spark.* and org.apache.hadoop.* namespaces"
If this is library going to exist as a package outside of Spark then its classes should probably not be under the org.apache.spark and org.apache.hadoop namespaces. Making these changes would make it easier to spot where this library depends on internal Spark + Hadoop functionality.

Link from https://github.com/HyukjinKwon/spark-xml/issues/4

[2015-11-26 06:10] rxin opened #8 "XML file Write support"
For now, this only supports to read XML files.

Now I left this open since it is tricky to convert to proper XML files.

Link from https://github.com/HyukjinKwon/spark-xml/issues/3

[2015-11-26 06:49] HyukjinKwon commented on #3
For this issue, I got a reason to use DOM. Mostly the main reason is to infer ArrayType. In order to infer ArrayType, it needs to check all the child keys (child elements) in each record in a XML and decide it is a StructType when it has a single key or ArrayType when it has duplicated multiple keys.

(I also manually gave a precedence for ArrayType higher than StructType at InferSchema in case th

[2015-11-28 09:52] HyukjinKwon commented on #6
@JoshRosen I changed (locally) the `TextInputFormat` from Hadoop 2.x (`org.apache.hadoop.mapreduce`) to 1.x (`org.apache.hadoop.mapred`) and I checked the codes run okay on Hadoop 2.x.

As it looks Hadoop supports full binary compatibility (according to [here](https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-common/Compatibility.html) and [here](http://hortonworks.com/blog/running

[2015-11-29 04:17] JoshRosen commented on #6
Independently of how we change the actual code, it's important that our automated tests run all of our tests against both Hadoop 1.x and 2.x, since we also need to guard against future changes which might introduce incompatibilities. We don't necessarily need _dedicated_ tests for Hadoop compatibility, though; just running the existing tests with Hadoop versions configured in the builds (like I di

[2015-11-29 05:10] HyukjinKwon commented on #6
I see. Thanks!

[2015-11-30 02:09] HyukjinKwon opened #10 "apply in an companion object probably should return the object of the companion class."
According to [Databricks Scala style](https://github.com/HyukjinKwon/scala-style-guide/blob/master/README.md#apply_method),  `apply()` of an companion object would better just return the object of the  companion class.

`DomXmlPartialSchemaParser` and `DomXmlParser` are not doing this.
For `InferSchema`, probably it also should not use `apply()`.

[2015-11-30 23:19] JoshRosen commented on #7
Fixed in #9.

[2015-11-30 23:19] #7 closed

[2015-12-01 00:52] #1 closed

[2015-12-05 10:31] Rocknpools opened #16 "Unable to run the example"
I've imported spark-xml_2.11-0.1.2.jar generated by sbt inside my library in intellij 15

but when i try to run this class:

[code]

i get this error:

what i'm doing wrong?

[2015-12-07 00:48] HyukjinKwon commented on #16
This jar has been not uploaded properly to Maven central yet ( and also not properly tested for importing).

As you might notice, this has moved from my private repository to Databricks only couple of weeks ago and this is the reason why a release for this has not been published. (the package name is even not yet updated to `com.databricks.*` and license stuff).

To cut it short, I recommend you u

[2015-12-07 03:44] HyukjinKwon commented on #16
Just to make the command above clear, I changed the package name from `org.apache.*` to `com.databricks.*` but did not change the document yet.

If you made it successfully importing, then try to use `com.databricks.xml` instead of `org.apache.spark.sql.xml`.

I will update the document as soon as possible.

[2015-12-07 06:18] HyukjinKwon commented on #16
I just updated the `README.md`.

[2015-12-07 07:45] HyukjinKwon opened #17 "An option for parsing mode such as PERMISSIVE, DROPMALFORMED and FAILFAST"
Sometimes for users, It should be permissive of rows that have fewer tokens than the schema. Also, it needs to support various paring modes like https://github.com/databricks/spark-csv/pull/37.

[2015-12-07 07:47] HyukjinKwon opened #18 "Support for different encodings"
Currently, this library only support UTF-8.

Different encodings might have to be supported.

This might be done in the way similar with https://github.com/databricks/spark-csv/pull/82.

[2015-12-07 08:41] HyukjinKwon opened #21 "Support for pruned scan for required fields."
Like https://github.com/databricks/spark-csv/pull/169, this library might also have to support pruned scan.
This would improve its performance in particular when the number of requested columns is few but the schema is huge according to the test I proceeded in the PR at CSV datasource above.

[2015-12-07 09:17] Rocknpools commented on #16
I had already imported it through the manually builded jar. I have tried to use "com.databricks.xml" instead of "org.apache.spark.sql.xml" but unfortunately i got this error:

12/07 08:32:42 ERROR Executor: Exception in task 0.0 in stage 0.0 (TID 0)
java.lang.NoSuchMethodError: scala.runtime.BooleanRef.zero()Lscala/runtime/BooleanRef;
	at com.databricks.spark.xml.parsers.dom.DomXmlParser.checkObje

[2015-12-07 09:22] HyukjinKwon commented on #16
Ops. Sorry, that should be `com.databricks.spark.xml` as seen in `README.md`.

[2015-12-07 09:26] HyukjinKwon commented on #16
Hm.. I will try to reproduce this.

[2015-12-07 09:55] HyukjinKwon commented on #16
[code]

Hm.. I ran this code and looks fine.I suspect the version compatibility.

Would you give me your settings of sbt and Spark version?

[2015-12-07 10:15] Rocknpools commented on #16
This is the Maven dependency for spark:
[code]

sbt is the same downloaded from the included shell script

[2015-12-08 01:28] HyukjinKwon commented on #17
Since XML files can have different schemas, it might not need PERMISSIVE mode. I will open a PR for this dealing with only DROPMALFORMED and FAILFAST as boolean.

[2015-12-08 05:44] HyukjinKwon opened #24 "Add a support to select codec as an option."
As soon as the writing is supported, then it might need to support to select compression codec for all the APIs.

This would be done in the way similar with https://github.com/databricks/spark-csv/pull/174.

[2015-12-08 05:50] HyukjinKwon opened #25 "Implement support for append mode"
If the writing is supported, then it might need to support to write as append modes.

This is a issue similar with https://github.com/databricks/spark-csv/issues/122.

I just made a PR for writing support so I am opening such issues.

[2015-12-10 14:51] Rocknpools commented on #16
when i try to import com.databricks.spark module i get this error
![screenshot](https://cloud.githubusercontent.com/assets/7481060/11718264/5a5d989c-9f55-11e5-96fe-920e0d4261bc.png)

seems that this package does not exist but as you can see it is correct imported inside intellij external libraries

[2015-12-11 01:03] HyukjinKwon commented on #10
Fixed in https://github.com/databricks/spark-xml/pull/19

[2015-12-11 01:03] #10 closed

[2015-12-11 01:08] HyukjinKwon commented on #16
Hm.. Would you try to use this a bit later? I will try to publish a release (and upload to maven central) as soon as I can, including this test.

[2015-12-14 16:12] dougneedham commented on #16
Should this work from a notebook within databricks after adding the package via spark-packages through the databricks UI?

val df = sqlContext.read
    .format("org.apache.spark.sql.xml")
    .option("rootTag", "book") // This should be always given.
    .load("/mnt/XML/books.xml")

The response I get when looking through the logs is: Found class org.apache.hadoop.mapreduce.TaskAttemptContext, but

[2015-12-14 23:08] HyukjinKwon commented on #16
@dougneedham Would you try with `com.databricks.*` as said in `README.md` with this version?

Actually, It sounds like you tried that with the one in my personal repository (since only that is uploaded as Spark package). For the package, it does not work with lower hadoop version (namely 1.x), which would be corrected with this PR https://github.com/databricks/spark-xml/pull/14.

[2015-12-14 23:20] HyukjinKwon commented on #16
FYI, any release is not published yet for this repo so you might need to build manually.
I will try to publish a release as soon as possible, maybe right after the PRs for now are closed.

[2015-12-16 05:58] TYoung1221 opened #26 "Failed to load class for data source: com.databricks.spark.xml"
Hello, I am using spark 1.4.0 with scala 2.10.4, when I try to use spark-xml this way,

    bin/spark-shell --packages HyukjinKwon:spark-xml:0.1.1-s_2.10
    scala> import org.apache.spark.sql.SQLContext
    scala> val sqlContext = new SQLContext(sc)
    scala> val df = sqlContext.read
    .format("com.databricks.spark.xml")
    .option("rootTag", "book")
    .load("books.xml")

Then I got this er

[2015-12-16 06:04] HyukjinKwon commented on #26
When it was in my private repository, I uploaded the package with the package name `org.apache.spark.*` as described [here](https://github.com/HyukjinKwon/spark-xml).
And the problem is, any release is not published and not uploaded yet since this package has moved to here Databricks. Namely, not you cannot use by `--packages` but have to manually build.
I will publish a release as soon as the pul

[2015-12-17 09:30] HyukjinKwon opened #27 "Support for inferring more promitive datatypes."
Currently this library infers primitive datatypes `DoubleType`, `LongType`, `StringType`, `BooleanType` and`NullType`.

`IntegerType` ,`TimestampType` and etc. can be also inferred similarly with [databricks/spark-csv](https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/util/InferSchema.scala#L74-L82).

[2015-12-18 06:25] HyukjinKwon commented on #27
Fixed in https://github.com/databricks/spark-xml/pull/28

[2015-12-18 06:25] #27 closed

[2015-12-18 07:27] HyukjinKwon commented on #6
Fixed in https://github.com/databricks/spark-xml/pull/14

[2015-12-18 07:31] HyukjinKwon commented on #8
Fixed in https://github.com/databricks/spark-xml/pull/15

[2015-12-18 07:31] #8 closed

[2015-12-18 08:42] #6 closed

[2015-12-18 08:44] HyukjinKwon commented on #17
Fixed in #22

[2015-12-18 08:44] #17 closed

[2015-12-21 03:02] HyukjinKwon opened #31 "Java version compatibility"
This library should take Java version compatibility between 6 & 7 JDK and 8 JDK into account due to `XmlInputFormat`.

I think it would be better to change it into Scala.

[2015-12-21 03:56] JoshRosen commented on #31
How is the choice of language (Java vs. Scala) related to JVM compatibility? These seem like orthogonal issues tom e.

[2015-12-21 04:11] HyukjinKwon commented on #31
Ah, I think I should correct the issue name and contents.

I just wanted to say that we might have to remove the Java code in order to not care of Java version stuff.

I complied this library compiled in Java 8 and I found I could not execute with Java 7 with the message below.

[code]

[2015-12-21 04:14] JoshRosen commented on #31
The presence of Java source code isn't the cause of that compatibility problem; rather, the issue is that the Java 8 compiler, by default, emits Java-8-compatible bytecode and needs to be explicitly instructed to generate bytecode which is compatible with Java 7. See https://github.com/databricks/spark-redshift/pull/113 for an example of how to configure `scalac` and `javac` to target specific JVM

[2015-12-21 04:20] HyukjinKwon commented on #31
Thank you very much for your great explanation!

[2015-12-21 04:25] HyukjinKwon commented on #31
I will close this issue but leave the PR anyway because anyway I think it would be better to change Java code into Scala for now.

[2015-12-21 04:25] #31 closed

[2015-12-21 05:45] HyukjinKwon commented on #16
@Rocknpools
Would you like to try set the dependency as below?
[code]
I just uploaded this and tested. Should be okay.

[2015-12-21 05:46] HyukjinKwon commented on #16
@dougneedham
Would you like to try this one please if it is not too late :)?
[code]

[2015-12-21 05:46] HyukjinKwon commented on #26
@dougneedham
Would you like to try this one please?
[code]

[2015-12-21 05:50] TYoung1221 commented on #26
Thanks! This works well for me!

[2015-12-21 05:50] #26 closed

[2015-12-21 23:35] HyukjinKwon commented on #3
Ah. Actually I think I can do this reducing `ObjectType` having the smae fields to `ArrayType` after inferring types for each. I will try.

[2015-12-29 09:18] HyukjinKwon opened #39 "Attributes in elements having no child element are not inferred and read."
@davemoyers reported this.

it appears that the engine will pull in the “myOneAttrib” attribute :

[code]

however, it will not pull in "myTwoAttrib”:

[code]

[2015-12-29 09:19] HyukjinKwon commented on #39
I checked this by codes. Now I will try to reproduce and correct them.

[2015-12-29 15:01] davemoyers commented on #39
Hi,

Thanks for looking into this. Here is an example XML document that I am testing with: http://docs.oasis-open.org/ubl/prd4-UBL-2.1/xml/UBL-Order-2.1-Example.xml

However, the issue can be recreated using the books.xml example referenced in the project and adding attributes to its text elements.

In the UBL example I reference above, there is an element called cbc:ProfileID and it is picked up

[2015-12-30 06:36] HyukjinKwon commented on #39
@davemoyers Thanks for the suggestion. I will try to fix the issue first.

[2015-12-31 06:58] HyukjinKwon commented on #39
I opend a PR. If this PR is merged, then this will produces a schema for the [file](http://docs.oasis-open.org/ubl/prd4-UBL-2.1/xml/UBL-Order-2.1-Example.xml) below:

[code]

[2015-12-31 07:04] HyukjinKwon opened #41 "Support for writing attributes"
Currently, writing XML files with this library does not support to write attributes.
It would be great if we can write some attributes through this library.

I am thinking both ways for this.
First is to make some options to designate which one should be treated as attribute.
Second is to use prefix for attributes such as `_` or `@` for both reading and writing so that we can differentiate element

[2016-01-01 05:07] HyukjinKwon commented on #41
I think might have to resemble `dicttoxml` python library.

[2016-01-05 18:11] dtungbmw opened #42 "Support specific xml path for duplicated tags"
Recently I found spark-xml library and it works well with our requirement. However, since we need to process more complex/nested xml file which has the case with same tag in different path. What will be the best practice to deal with this case? E.g., we have <protocols> under <configuration> as well as under <firewall>, I tried to set “protocols” as the rowTag, and the select function returns all

[2016-01-05 23:05] HyukjinKwon commented on #42
@dtungbmw Thanks for your suggestion.

[2016-01-06 04:13] HyukjinKwon opened #44 "Adding tests for Spark 1.6"
Spark 1.6.0 is released. So I think I should add some tests for this and check if there are things that should be changed.

[2016-01-07 08:46] HyukjinKwon commented on #44
Fixed in https://github.com/databricks/spark-xml/pull/45.

[2016-01-07 08:46] #44 closed

[2016-01-07 08:46] HyukjinKwon commented on #41
Fixed in https://github.com/databricks/spark-xml/pull/43.

[2016-01-07 08:46] #41 closed

[2016-01-07 08:47] HyukjinKwon commented on #39
Fixed in https://github.com/databricks/spark-xml/pull/43.

[2016-01-07 08:47] #39 closed

[2016-01-07 08:47] HyukjinKwon commented on #3
Fixed in https://github.com/databricks/spark-xml/pull/43.

[2016-01-07 08:47] #3 closed

[2016-01-07 08:53] HyukjinKwon commented on #3
I used StAX parser instead of SAX because I can easily resample JSON datasource in Spark which uses Jackson parser (pull model). Since the issue was not to build a full DOM tree but to traverse the contents once, I anyway closed this issue.

[2016-01-12 04:32] HyukjinKwon opened #52 "Support for reading compressed files."
Since this library has a custom inputformat, `XmlInputFormat`, compression should manually be supported to read compressed files.

For writing, it is supported to write compressed files.

[2016-01-13 03:39] HyukjinKwon commented on #52
Fixed in https://github.com/databricks/spark-xml/pull/53

[2016-01-13 03:39] #52 closed

[2016-01-13 03:49] HyukjinKwon commented on #21
Fixed in https://github.com/databricks/spark-xml/pull/46.

[2016-01-13 03:49] #21 closed

[2016-01-13 07:13] HyukjinKwon commented on #18
Fixed in https://github.com/databricks/spark-xml/pull/54.

[2016-01-13 07:13] #18 closed

[2016-01-13 07:13] HyukjinKwon commented on #24
Fixed in https://github.com/databricks/spark-xml/pull/55.

[2016-01-13 22:52] #24 closed

[2016-01-14 01:29] HyukjinKwon opened #59 "Support for writing DTD/declaration."
Currently this library produces indented XML files without DTD/declaration.

Maybe it should write a DTD/declaration as default or support an option to write this.

[2016-01-15 00:45] HyukjinKwon opened #62 "Encoding not working with UTF-16/32 (not UTF-16LE/BE or UTF-32LE/BE)."
Since UTF-16/32 has BOM bytes ahead, BOM bytes should be handled because `XmlRecordReader` reads record between `startTag` and `endTag`, which are also encoded with BOM when the given encoding is UTF-16/32.

So, it ends up with trying to find `startTag` and `endTag` including BOM bytes for every record, which will not find any because DOM bytes only exist in the head of data.

I think I better do

[2016-01-20 01:47] HyukjinKwon opened #66 "Support to specify a shorten name for compression codec"
This is similar with https://github.com/apache/spark/pull/10805. It would be great if we can choose codecs by shorten name.

[2016-01-20 21:33] harishkashyap opened #68 "example doesn't work in Pyspark for spark 1.5+"
File "/opt/cloudera/parcels/CDH-5.5.0-1.cdh5.5.0.p0.8/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 121, in load
  File "/opt/cloudera/parcels/CDH-5.5.0-1.cdh5.5.0.p0.8/lib/spark/python/lib/py4j-0.8.2.1-src.zip/py4j/java_gateway.py", line 538, in __call__
  File "/opt/cloudera/parcels/CDH-5.5.0-1.cdh5.5.0.p0.8/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 36, in

[2016-01-20 22:08] kur1j commented on #68
Just ran into this exact issue with HDP 2.3.2 which comes with Spark 1.4.1. It appears to be a problem with Scala 2.11.

Temporary fix is to recompile Spark-xml with 2.10.6.

In build.sbt change the following.
//scalaVersion := "2.11.7"
scalaVersion := "2.10.6"

https://groups.google.com/forum/#!topic/adam-developers/j5bzgpK5-aU

[2016-01-20 22:43] harishkashyap commented on #68
Thanks @kur1j for quick reply. That would be tough for our prod environment. Will look out for the new release.

[2016-01-21 01:49] HyukjinKwon commented on #68
Thanks, @kur1j.
@harishkashyap Have you tried this as well with  not **2.11** but **2.10**?

[code]

[2016-01-21 17:50] harishkashyap commented on #68
That works! thanks @HyukjinKwon

[2016-01-21 20:41] HyukjinKwon commented on #68
Cool!

[2016-01-21 20:41] #68 closed

[2016-01-21 21:07] harishkashyap commented on #41
gosh! I would need this too! turns out I can't in older version. @HyukjinKwon look forward to next version of this supporting pyspark 1.5+

[2016-01-22 01:30] HyukjinKwon commented on #41
@harishkashyap Actually, I merged this already and released 0.3.1.

As you might know, I described the structure conversion [here](https://github.com/databricks/spark-xml#conversion-from-xml-to-dataframe).

So... if you need to create attributes to output XML files, then you might need to add some fields as the structure below:

[code]

then you might write a XML file
[code]

which creates a XML b

[2016-01-22 01:42] harishkashyap commented on #41
Thanks @HyukjinKwon. I am trying to get his working on pyspark 1.5+. Is that issue resolved?

[2016-01-22 01:44] harishkashyap commented on #41
Oh are you saying the 0.3.1 on older version works?

[2016-01-22 02:53] HyukjinKwon commented on #41
Yes, this 0.3.1 should work on all the Spark versions 1.3+.
Would you describe your environment a bit more if you are hitting some issues to run this library?
I would like to reproduce if this 0.3.1 does not work on Spark (including pyspark) versions 1.3+.

[2016-01-22 03:49] harishkashyap commented on #41
@HyukjinKwon as I already mentioned the example on the home page with books.xml doesn't work with the latest version spark 1.5+. It doesn't load.

[2016-01-22 03:49] harishkashyap commented on #41
File "/opt/cloudera/parcels/CDH-5.5.0-1.cdh5.5.0.p0.8/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 121, in load
  File "/opt/cloudera/parcels/CDH-5.5.0-1.cdh5.5.0.p0.8/lib/spark/python/lib/py4j-0.8.2.1-src.zip/py4j/java_gateway.py", line 538, in __call__
  File "/opt/cloudera/parcels/CDH-5.5.0-1.cdh5.5.0.p0.8/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 36, in

[2016-01-22 03:58] HyukjinKwon commented on #41
I see. I thought https://github.com/databricks/spark-xml/issues/41#issuecomment-173797086 says it's working okay with Spark 1.5+.

Hm.. I have tried this and it looks fine with Spark 1.5+. Maybe I will try this with the same environment with you. I guess you are using Cloudera CDH VM. I will try.

[2016-01-22 08:19] harishkashyap commented on #41
No #68 is referring to an older version. In that version I can read but not write attributes.

[2016-01-23 12:17] Tooa opened #71 "Reading XML files should remove tags"
Hi,
this library fits perfectly to my need of parsing pseudo Wikipedia dumps. However, I have a small problem and I'm not sure, if this is actually an issue. Consider the following input format:
[code]

The code to parse such an input file looks like this (according to your example):
[code]

However, the output still contains the xml tags:

[code]

Is this a feature or an issue? In my case, I don'

[2016-01-23 12:36] HyukjinKwon commented on #71
@Tooa Thanks for having interests into this.
How about trying [XmlInpuFormat](https://github.com/apache/mahout/blob/ad84344e4055b1e6adff5779339a33fa29e1265d/examples/src/main/java/org/apache/mahout/classifier/bayes/XmlInputFormat.java) at Mahout?

This XmlInputFormat is basically and initially copied from that and I modified to adapt to Spark datasource.

If you are planing to use this for DataFra

[2016-01-23 13:10] HyukjinKwon commented on #71
I re-read and tought another possible case. If you meant reading a XML files that includes attributes but you want to exclude attributes, then yoy might want to try to load the XML with the `excludeAttributes' option to read it without attributes and try to save that. This library does not support to filter at input format level.

[2016-01-23 13:28] Tooa commented on #71
Hi,
thanks for you quick reply. I would like to have the output like: `(283,Multiline text)`

Copied the the [Mahout](https://github.com/apache/mahout/blob/ad84344e4055b1e6adff5779339a33fa29e1265d/examples/src/main/java/org/apache/mahout/classifier/bayes/XmlInputFormat.java)  `XmlInputFormat` to my project and tried it:

[code]
[code]

Any ideas?

[2016-01-23 13:39] HyukjinKwon commented on #71
Oh, I hit the similar issue before. Maybe this is because of `newAPIHadoopFile`. The Mahout's inputformat is the old Hadoop API as far as I remember.

Can you try this with `hadoopFile` one Hadoop old API?

[2016-01-23 14:02] Tooa commented on #71
Yes your are right. This way it works:

[code]

The reader seems to work only without XML attributes. So, the input format needs to look like this `<article> ... </article>`. However, the output still looks like `(256,<article> ... </article>`. I just need the text within these text. If you remove `buffer.write(startTag);` you can remove the start tag. Need to figure out, how to remove the endTag.

[2016-01-24 19:56] davemoyers opened #72 "Datatype assumption causes document to be skipped."
Hi,

I am testing with v0.3.1 pulling through Maven. I encountered an issue where it appears that the module is assuming a datatype of a nested element based upon the first occurrence, when in fact the datatype is something else. I am only able to reproduce it using this XML document: http://docs.oasis-open.org/ubl/os-UBL-2.1/xml/UBL-Order-2.1-Example.xml

When the document is processed I receive

[2016-01-25 05:13] HyukjinKwon commented on #72
@davemoyers Thanks for reporting this and looking into this!
I will also try to investigate further.

[2016-01-26 08:19] alreadyexists opened #74 "Support for namespaces declared at the ancestor level?"
Hello! Some clarifications on applicability needed.
Suppose I'd like to extract `Topic` entries from DMOZ RDF dump (http://rdf.dmoz.org/)
WLOG, it goes like this:

[code]

Topic attribute `id` refers to a namespace `r` declared in the RDF scope. If I'm getting the whole thing right, on Spark, when looking for `rowtag` entries within a particular partition, there is no way to tell that this namespa

[2016-01-27 01:54] HyukjinKwon commented on #74
@alreadyexists  I see. Yes this library is not handling namespaces. Also, I think that sounds reasonable. Above all, I think this library should be able to read and parse the XML you just provided. I will look into this closer if I have some time.

[2016-01-27 02:27] HyukjinKwon commented on #74
I could reproduce this bug you meet by running below:

[code]

The console output was

[code]

[2016-01-27 02:35] HyukjinKwon commented on #74
Just to make this clear, this was also suggested by @davemoyers, https://github.com/databricks/spark-xml/issues/39#issuecomment-167805138.

[2016-01-27 04:46] HyukjinKwon commented on #74
I merged the PR https://github.com/databricks/spark-xml/pull/75. So, now it would anyway be possible to read the XML files but this library is currently not dealing with namespaces. So, I will leave this issue open.

[2016-01-27 09:15] HyukjinKwon opened #76 "Fail to read multiple character events in XML element"
Sameer Farooqui reported this.

When reading [Wikidump](https://dumps.wikimedia.org/enwiki/20150901/enwiki-20150901-pages-articles-multistream.xml.bz2), some of tasks are failed as below:

**Initial failure** :
![](https://drive.google.com/uc?id=0B7RfLjRU7QTnNEtxV0o2djA2TXc)

**Task list** :
![](https://drive.google.com/uc?id=0B7RfLjRU7QTnQ2lDR0M2M2dhVWM)

This was because this library assumes the

[2016-01-29 04:58] HyukjinKwon commented on #76
Fixed in https://github.com/databricks/spark-xml/pull/77

[2016-01-29 04:58] #76 closed

[2016-02-02 04:04] HyukjinKwon commented on #66
Fixed in https://github.com/databricks/spark-xml/pull/67.

[2016-02-02 04:04] #66 closed

[2016-02-07 18:26] larsbkrogvig opened #80 "Empty field causes scala.MatchError?"
Hi,

I am having some issues reading a certain .xml file containing GPS data.

The file I am trying to read contains a row that I suppose is malformed. I supply my own schema and use `failFast = false`. Instead of dropping the row, it fails. Is this intended? Or am I using the library incorrectly?

I use this schema:
[code]
I try to parse this file:
[code]
I get this error:
[code]
I think the prob

[2016-02-08 12:08] Bertrandbenj commented on #80
Hi,

I have a similar issue when I let spark-xml infer my schema. it infer a like
<a>
 <b>something here</b>
</a>

but later in the document I have the same "a" tag containing more stuff
<a>
 <test>some other node</test>
 <b>the b node expected</b>
 some row text
</a>

It turns out the inferred schema doesn't have the test tag. I will look at how does the schema is infered
But I think the real iss

[2016-02-08 15:27] humanzz opened #81 "Incomplete values for some tags"
I'm trying to read the english wikipedia data dump using spark-xml. My setup is as follows:
- zeppelin 0.5.6 (using built it Spark 1.6.0)
- using spark-xml 0.3.1 on scala 2.10

I'm loading the wikipedia pages as follows
`val items = z.sqlContext.read`
`                        .format("com.databricks.spark.xml")`
`                        .option("rowTag", "page")`
`                        .load("<P

[2016-02-08 16:03] humanzz commented on #81
using the current spark-xml snapshot (spark-xml_2.10-0.3.2-SNAPSHOT.jar) seems to have loaded the full context of the text tag.

However,
`// changing the rowTag from page to text`
`val items = z.sqlContext.read`
`                        .format("com.databricks.spark.xml")`
`                        .option("rowTag", "text")`
`                        .load("<PATH>/enwiki-latest-pages-articles-sampl

[2016-02-09 12:56] HyukjinKwon commented on #81
@humanzz As far as I remember this was fixed in master branch but a release has been not published. I will try to reproduce this first with the master branch one. Thanks for reporting this.

[2016-02-09 12:57] HyukjinKwon commented on #80
Thanks for reporting this and looking into this deep with a detailed description. I will try to reproduce this first.

[2016-02-09 14:36] sgvandijk commented on #81
I am running into `scala.MatchError: ENDDOCUMENT`. For me it seems because my input contains self-closing row tags, e.g. `<ROW attr="foo" />`. I see some self-closing tags in your input too, but not for your `text` row tag, so I don't know if it's the same problem.

@HyukjinKwon Is self-closing tags something that you want to support? I had a quick look and don't directly see a quick way to do tha

[2016-02-09 14:39] humanzz commented on #81
@HyukjinKwon I confirm it's fixed in master branch. Just tried it yesterday.

I was running the spark-xml on a sample of a few wikipedia pages in the dump... I'm currently trying to read the whole dump **enwiki-latest-pages-articles.xml.bz2** but now failing with `scala.MatchError` in `com.databricks.spark.xml.parsers.StaxXmlParser$$anonfun$com$databricks$spark$xml$parsers$StaxXmlParser$$convertOb

[2016-02-11 02:10] HyukjinKwon commented on #81
@sgvandijk Yes, this should be supported. Thanks for looking into this deep. Could you please create another issue for this?

@humanzz Actually, I recently tested this library with the wiki dump (only a small dataset) and it looked fine but not with a large data set due to the lack of resources (or my laziness to set up a cluster in AWS). I think I should test it again with the file you just said.

[2016-02-11 02:28] HyukjinKwon commented on #81
@humanzz Maybe the issue you just met is related with https://github.com/databricks/spark-xml/issues/80. I will try to resolve that one first.

[2016-02-11 02:47] HyukjinKwon commented on #80
@Bertrandbenj Would you please create another issue for this? I could reproduce both cases and it looks they are separate things.

[2016-02-11 08:16] HyukjinKwon commented on #72
It looks this issue is related with https://github.com/databricks/spark-xml/issues/80.
Also, I created a PR for this here, https://github.com/databricks/spark-xml/pull/82.

[2016-02-11 09:23] deenar opened #83 "spark-xml fails to load xml files with comments"
I found that spark-xml fails to load documents with comments in them. Has anyone else encountered this or I am doing something wrong. Here is a sample document I am having trouble with.

[Sample Document with comments](https://dedicated.fpml.org/viewcvs/*checkout*/trunk/src/confirmation-view-examples/products/repo/repo-ex02-repo-open-fixed-rate.xml?content-type=text%2Fplain&rev=11783)
[code]

[2016-02-12 00:16] HyukjinKwon commented on #83
@deenar Thanks for reporting this.

[2016-02-12 00:28] HyukjinKwon commented on #83
@deenar It looks this is fixed in the master branch but a release has not been published yet. I just tested this with the data above with the latest one and it looks working fine with the result below.

- Schema
[code]

- Result
[code]

[2016-02-12 01:00] HyukjinKwon opened #84 "Slow performance for reading XML due to the XML library and not optimized logics."
Sameer Farooqui said:

Although this issue sounds a bit broad, I think I should create this as a remainder. It looks there are two things to deal with.

- Better XML library.
- Optimization for parsing logic.

[2016-02-15 01:45] HyukjinKwon commented on #84
Let me close this for now because as I said it is a bit broad and also the PR I submitted for this was pretty much successful in terms of performance improvement.

[2016-02-15 01:45] #84 closed

[2016-02-15 01:46] HyukjinKwon commented on #81
@humanzz Would you please try this with 0.3.2? I just released a new one and it looks working fine with wiki dumps.

[2016-02-15 01:47] HyukjinKwon commented on #80
@larsbkrogvig Would you please try this with 0.3.2? I just released a new one. I could reproduce this and I fixed that.

[2016-02-15 01:48] HyukjinKwon commented on #72
@davemoyers  Would you please try this with 0.3.2? I just released a new one. I could reproduce this and I fixed that.

[2016-02-15 15:02] davemoyers commented on #72
Hi Hyukjin,

I executed against 0.3.2 and my unit test failed with the same error. Here
are a few observations:

1. FYI: Although Maven Central shows 0.3.2, my project could not pull it
down, and I was forced to manually download the jar and drop it into my
project and also remove the maven reference from my POM. I don't know if it
is something with Maven not yet fully replicated or something else

[2016-02-15 15:57] spiu opened #88 "Values not being parsed correctly / showing as null"
Hi,

I've noticed that some fields in an xml I'm parsing come up as `null`. I'm using the code from master (updated as of today) and Schema generation seems to be alright.

It seems to be a problem in `StaxXmlParser` sending an incorrect "sub-schema". But I could not get to the root of the problem yet.

Any ideas on what could be wrong?

[Sample file here](https://github.com/databricks/spark-xml/f

[2016-02-15 18:32] larsbkrogvig commented on #80
@HyukjinKwon Thanks for taking a look at this issue. Unfortunately it still fails with the same error:
[code]
Would you like me to provide you with more information about my setup?

[2016-02-16 02:18] HyukjinKwon commented on #80
@larsbkrogvig I wrote the file

[code]

And then I ran this code below:

[code]

The results was below:

[code]

[2016-02-16 02:18] HyukjinKwon commented on #80
@larsbkrogvig Would you send me some more sample data maybe via email if you are okay?
If it fails again, I will look into this deeper with some data.

[2016-02-16 02:36] HyukjinKwon commented on #88
@spiu Due to structure conversion, it brings a lot of complexities so it will be tricky to find the root problem. Anyway I think this is an issue. I will also look into this deeper.

[2016-02-16 07:02] larsbkrogvig commented on #80
@HyukjinKwon It works when I use `treatEmptyValuesAsNulls = true`, looks like I missed that earlier. Adding that to my code also solves the initial problem I had. Great!

As far as I'm concerned this issue can now be closed. Thanks again!

[2016-02-16 07:05] HyukjinKwon commented on #80
@larsbkrogvig Good to head.

[2016-02-16 07:05] #80 closed

[2016-02-16 07:06] larsbkrogvig commented on #80
As a side note, I did try `treatEmptyValuesAsNulls = true` before 0.3.2, but it didn't work then.

[2016-02-16 07:07] HyukjinKwon commented on #80
Yes, thanks. I think I should add some mode tags to differentiate the resolved issues among releases.

[2016-02-16 09:40] spiu commented on #83
I can confirm this is fixed too

[2016-02-16 09:47] HyukjinKwon commented on #83
@spiu Thanks.

[2016-02-16 09:50] HyukjinKwon commented on #88
As it is confirmed according to his comment, https://github.com/databricks/spark-xml/pull/89#issuecomment-184586520, I am closing this.

[2016-02-16 09:50] #88 closed

[2016-02-16 09:53] spiu commented on #74
I'd be interested in knowing if you had any thoughts on how to add namespace support (or at least to some degree)?

In our case I think we know which namespaces that will show up beforehand, so maybe I could try adding options to standardize them as they are loaded (kind of a lookup to avoid conflicts or namespaces with different references across different documents)

[2016-02-17 21:17] logisticDigressionSplitter opened #91 "Flattening Nested XMLs to DataFrame"
Thanks for the very helpful module. I have the following XML structure that gets converted to Row of POP with the sequence inside. Is there any way to map attribute with NAME and PVAL as value to Columns in dataframe?

[code]

This is what I end up with

[code]

[2016-02-18 06:10] HyukjinKwon commented on #91
@athelticoSometimes So.. you want to have a schema like this below?

[code]

Setting `attributePrefix` a empty string will produces the schema above as below:

[code]

[2016-02-18 23:57] upalkhouski opened #92 "Self-closing tags are not supported as top-level rows"
Self-closing tags that are supported by [xml standard](http://www.w3schools.com/xml/xml_elements.asp) are not supported currently.

Trying to read xml with self-closing tags generates empty schema.

**Python Code snippet**:

[code]

**XML**:

[code]

**Schema output:**
root

**Spark Version**: 1.3

[2016-02-19 00:16] HyukjinKwon commented on #92
@upalkhouski Thanks for opening this issue. This should be supported at `XmlInputFormat`.

BTW, could you maybe change the title to the one such as `Self-closing tags are not supported as top-level rows`(not sure this example title infers what I mean to say though) so that we can differentiate self-closing tags being parsed as each column and as each row?

[2016-02-19 20:23] humanzz commented on #81
@HyukjinKwon Sorry for the late response. I just ran it today and it now works just fine :)

[2016-02-19 20:28] cjmatta opened #93 "Inconsistent element attributes"
I have a question about the behavior of this code when presented with a document such as this:
[code]
As you can see there's a book in there without an `author` attribute.

I can load this xml and print the schema:
[code]

If I want to select all the books by location and collect them I get a `java.lang.ArrayIndexOutOfBoundsException: 1` error. If I just collect the whole dataframe without select

[2016-02-20 00:37] upalkhouski commented on #92
the title has been updated as requested.

I have realized that if I add value to the node it still does not work:

not working example:
`<book id="bk104">TITLE</book>`

however if I add additional child then it finally starts working:
`<book id="bk104"><title>TITLE</title></book>`

[2016-02-21 04:01] HyukjinKwon commented on #81
@humanzz thanks! I am closing this.

[2016-02-21 04:01] #81 closed

[2016-02-21 04:04] HyukjinKwon commented on #93
@cjmatta thenks for reporting this. I will look into this further.

[2016-02-21 12:19] larsbkrogvig commented on #93
Maybe this can help to track down the root cause: https://issues.apache.org/jira/browse/SPARK-12624

Apparently a `java.lang.ArrayIndexOutOfBoundsException` is thrown when row lengths do not match.

[2016-02-21 13:15] larsbkrogvig opened #94 "Can't collect DataFrame with empty fields read with specified schema"
I am having problems working with a DataFrame I loaded with a specified schema.

The problem looks related to the fix for #80, and could be the same as #93 as it produces the same error in some cases. (I think it is [this one](https://issues.apache.org/jira/browse/SPARK-12624))

For the record I am using `pyspark`.

### Short version
I can't `collect()` a certain DataFrame with missing values in i

[2016-02-23 01:12] HyukjinKwon commented on #94
@larsbkrogvig Thanks! I will look into this as well.

[2016-02-24 09:20] HyukjinKwon commented on #93
I see. Good niches. I think I should set `null` explicitly for the fields as well just like the other fields. This will be quicky fix. I will fix this tomorrow.

[2016-02-25 01:22] HyukjinKwon commented on #94
@larsbkrogvig Yes, you were right. I believe the PR I just submitted will fix this issue as well.

[2016-02-25 09:21] HyukjinKwon commented on #72
@davemoyers Thanks! I could find the root reason. I just submitted a PR.

[2016-02-26 16:59] Bertrandbenj commented on #91
Not sure what

[2016-02-26 17:15] Bertrandbenj commented on #91
I think athelticoSometimes's question is about how do you flatten this assuming you are working at the RECORD level

When its a simple struct then you can do something like df.sql("SELECT RECORD.PROP.PVAL from ....")
But since PROP is an ArrayStruct you cant sql query past RECORD.PROP

[2016-02-28 12:17] larsbkrogvig commented on #94
@HyukjinKwon I merged the PR locally and it solved my problem. Thanks!

[2016-03-03 04:45] HyukjinKwon commented on #94
Fixed in https://github.com/databricks/spark-xml/pull/95.

[2016-03-03 04:47] #94 closed

[2016-03-03 04:48] HyukjinKwon commented on #93
Fixed in https://github.com/databricks/spark-xml/pull/95.

[2016-03-03 04:48] #93 closed

[2016-03-03 13:41] PatrikTrestik opened #98 "Duplicate "value" fields"
Inferred schema contains duplicate "#VALUE" fields.
Test XML structure:
`<root><a attr="abc">123</a></root>`
`<root><a >456</a></root>`
`<root><a >789</a></root>`
`<root><a >900</a></root>`

Produced schema:
`root`
` |-- a: struct (nullable = true)`
` |    |-- #VALUE: long (nullable = true)`
` |    |-- #VALUE: long (nullable = true)`
` |    |-- #VALUE: long (nullable = true)`
` |    |-- #VALUE: lo

[2016-03-03 22:24] HyukjinKwon commented on #98
Oh yes I realised this problem during fixing another bug. This PR https://github.com/databricks/spark-xml/pull/96 should fix this problem.

[2016-03-07 04:50] HyukjinKwon commented on #74
@spiu Sorry, I am late. I would appreciate that if you go ahead. If there is a proper way to standardize namespaces, then it would be great to add such a option.

One thing I am a bit worried of is, basically `XmlInputFormat` reads each sub-XML chunk for each row by `rowTag` and then it parses each as a compete XML document. So, in this way, it is difficult to access to the namespaces at the root

[2016-03-08 04:03] HyukjinKwon commented on #98
This must be fixed in #96. @PatrikTrestik Would you maybe confirm if this is fixed?

[2016-03-08 04:04] #98 closed

[2016-03-08 04:06] HyukjinKwon commented on #72
Fixed in https://github.com/databricks/spark-xml/pull/96. (Please feel free to reopen this if this is still not fixed).

[2016-03-08 04:06] #72 closed

[2016-03-08 14:48] tlpinney opened #100 "spark-xml fails to load xml with certain comments"
[Sample document](https://repo1.maven.org/maven2/ae/teletronics/godfather/0.9/godfather-0.9.pom)

Removing the comment

[code]
allows it to load the xml file into a dataframe.

I am running the master branch of spark-xml with Spark 1.6.0 and Scala 2.10

[code]

Stack Trace
[code]

Schema after the comment is removed
[code]

[2016-03-08 15:01] tlpinney commented on #100
Simplified version of xml which causes an error.

[code]

This will be loaded correctly
[code]

[2016-03-08 16:03] premsagarreddy commented on #91
I am also facing issues when trying to read nested XMLs  to dataframes

[2016-03-08 22:34] HyukjinKwon commented on #100
@tlpinney Yea, this is an issue. I forgot to document this. Thanks!

[2016-03-09 00:37] HyukjinKwon commented on #4
I am leaving this link for a reminder that `HadoopFsRelation` is updated.
https://issues.apache.org/jira/browse/SPARK-13664

[2016-03-09 06:14] HyukjinKwon opened #101 "Omitted file extension for part files (.xml)"
Currently, this library does not add an extension for part-files. This might have to be added.

This issue was also filed in Spark, https://issues.apache.org/jira/browse/SPARK-13766.

[2016-03-09 19:22] ksteffe opened #102 "Create a way to exclude rootTag when saving file"
If I create an RDD with multiple slices, then I end up with a file for each slice.  Each file includes a rootTag in it, so that if I use Hadoop to merge the files I end up with a resulting file like so...

[code]

If I set the rootTag option to null I end up with:

[code]

If I could exclude the rootTag option, then I can surround the merged file in the root tag myself after all processing is comp

[2016-03-09 23:34] HyukjinKwon commented on #102
Hm.. I see. Let me take a look deeper.

For a temporary workaround, you might be able to do this `coalesce(1)` if the file is not big. If the size of the input is big, then it will degrade performance a lot but I think this might be an workaround to make the output as singlefile surrounded with single root tag.

[2016-03-10 16:53] PatrikTrestik commented on #98
I'll confirm the fix on Monday when I'm back at PC.

Dne 8. března 2016 5:03:39 AM Hyukjin Kwon <notifications@github.com> napsal:

[2016-03-10 22:52] HyukjinKwon commented on #98
@PatrikTrestik Thanks! Please reopen if this is still happening.

[2016-03-14 16:42] davemoyers commented on #72
Verified... Looks good with latest code updates. Thanks Hyukjin!

Sent from my iPad

[2016-03-15 06:46] HyukjinKwon opened #103 "Failed to parse XML documents when the datatypes in the same elements are structural data type and non-structural data type"
Currently, it fails to load XML documents having different data types (structural data types and non-structural data types) for the same elements.

For example,

[code]

In the case above, this infers the type for `user` as `StringType` as below:
[code]

 but this fails to parse throwing the exception below:

[code]

It looks this can be dealt with similarly with JSON data source.

In case of JSON

[2016-03-16 01:32] HyukjinKwon opened #104 "Support for inferring DecimalType"
Currently this library does not support to infer `DecimalType`. In real world scenario, the data such as id can be `DecimalType`.

[2016-03-16 07:51] HyukjinKwon opened #105 "Support for PERMISSIVE mode explicitly."
After working on modes in JSON data source, I think those modes should also be supported here.

Currently, supported modes are `DROPMALFORMED` and `FAILFAST.`

[2016-04-04 15:40] yawnt opened #108 "MatchError when trying to query XML files with partial attributes"
Hi,

I have a fairly complex set of XML files that I'd like to load. Schema inference seems to work fine, but I cannot query anything as it fails with "scala.MatchError: 2 (of class java.lang.Long)"

I extracted a small example from my XMLs

1.xml
[code]

2.xml
[code]

This is what happens when I tried to query it in Spark-Shell

[code]

any ideas?
Thanks!!

[2016-04-05 00:08] HyukjinKwon commented on #108
Thanks for reporting this!

I think maybe this is related with https://github.com/databricks/spark-xml/pull/89.
I just tested with the data above and it looks it works fine for master branch.
I am going to release 0.3.3, https://github.com/databricks/spark-xml/pull/99. This will solve this problem.

Unfortunately, I have not yet released `0.3.3-SNAPHOST`. So, would you use the one manually built b

[2016-04-05 10:03] yawnt commented on #108
I will try compiling from master today and let you know, thanks for the prompt reply and the awesome package!

[2016-04-06 09:56] yawnt commented on #108
can confirm it works if I compile from master. I will eagerly await `0.3.3-SNAPSHOT`.

Thanks!

[2016-04-06 09:56] #108 closed

[2016-04-11 14:47] thatismypath commented on #91
I have the same issue, i tried to define a nested custom schema but it's not possible i think. someone have an idea how can we solve this

[2016-04-16 21:55] ebuildy opened #109 "Cannot read stackoverflow data dump XML"
I would like to parse XML from stackoverflow data dump, here an example of row:

[code]

But loading this XML, nothing happen (no error, and schema is empty), is it compatible with this library?

Thanks you,

[2016-04-17 02:17] HyukjinKwon commented on #109
To be clear, it is a duplicate of https://github.com/databricks/spark-xml/issues/92 but thanks for some cases I would definitely try.

[2016-04-17 06:57] ebuildy commented on #109
D'oh sorry for the duplicate issue, didn't find it yesterday. Do you want to me to close this issue?

Thanks you,

[2016-04-17 07:03] HyukjinKwon commented on #109
I think it is fine. I think it is a good reminder to test stackoverflow data dump.

[2016-04-17 07:12] HyukjinKwon commented on #100
@tlpinney Actually, this could be done easier than I thought. Thanks for reporting this.

[2016-04-17 07:13] HyukjinKwon commented on #103
Fixed in #106

[2016-04-17 07:13] #103 closed

[2016-04-17 07:15] HyukjinKwon commented on #91
Hm.. Let me try to think about this further as well. Thanks all for pointing this out.

[2016-04-17 14:41] Bertrandbenj commented on #91
Hi,

This is just to contribute my findings, there is one use case for flattening that is easy :

given the following schema of the input DF:
schema :
[code]

show()
[code]

lets say I want every title / authors combinations, I can achieve it with "explode"  :

[code]

there is an equivalent in Scala as a DF function but in java I had to use
import org.apache.spark.sql.functions;

[code]

Now this

[2016-04-19 05:36] maarest opened #111 "Log shows error even though it's catched"
Take the following XML

[code]

If you do
[code]

Then I wouldn't expect to see this log (the code still executes fine... but I don't want to see this error message because I have it surrounded in Try)

FYI this code:
[code]
is silent

[2016-04-19 08:59] Bertrandbenj commented on #111
I can confirm this is an issue, I've got the same (if the rowTag's name appear in two different places)

should we have a rowTag expressed as an xpath instead to avoid this problem or do you have a programmatic solution

.option("rowTag", "/Root/RowTag1") ?

what if the expected behavior is to get RowTag1 no matter its position (case which seems less likely but can happen). I think the issue is he

[2016-04-21 03:40] maarest opened #112 "Cannot cache empty XML Dataframe"
Hi,

Take an XML doc and read it.

[code]

This returns a dataframe that's empty, as you can see, and you can run the following code:

[code]

But the following code doesn't work

[code]

Can you reproduce?

[2016-04-21 07:02] HyukjinKwon commented on #112
@maarest Hm.. Could you please share your data?

[2016-04-22 00:15] maarest commented on #112
Full code:

[code]

You'll see how things crash

[2016-04-25 09:26] HyukjinKwon commented on #112
@maarest Is this because of `rowTag`, `INTENDEDTOBEWRONG`? Could you try with `Root` or `RowTag1` instead?

[2016-04-25 22:52] maarest commented on #112
Hi @HyukjinKwon . It's definitely because of the rowTag being wrong. I would expect an empty Dataframe to be returned, which is what's returned. Oddly enough though, df.count() works before being cached.

Please also note that the standard [emptyDataFrame ](https://spark.apache.org/docs/1.4.0/api/java/org/apache/spark/sql/SQLContext.html#emptyDataFrame()) can get cached without issues.

Therefore

[2016-04-25 23:46] HyukjinKwon commented on #112
Ah, I see thanks! Let me check Spark internal data sources and will update this library to be consistent with them if it is not.

[2016-04-27 03:55] HyukjinKwon commented on #112
@maarest I think it is an issue in Spark. Could you tell me your Spark version? I just tested this I it looks fine with Spark 1.6.0. Let me search the related JIRA if your version is lower.

Thanks for your codes it was easy to test.

[2016-04-27 04:05] HyukjinKwon commented on #112
@maarest I think https://issues.apache.org/jira/browse/SPARK-9627 might be related with this if you are using Spark less than 1.4.x.

[2016-04-27 04:09] HyukjinKwon commented on #111
@Bertrandbenj @maarest  Indeed. I noticed this problem but could not come up with a great solution. Please feel free to suggest a solution. I will try to think about this too.

[2016-04-27 04:17] maarest commented on #112
I'm using 1.5.1 so that's weird... can you try with 1.5.1 and confirm the issue or not?

[2016-04-27 04:23] HyukjinKwon commented on #112
Oh, I could reproduce. Let me try to search the JIRA.

[2016-04-27 17:51] joostfarla opened #113 "Incorrect data loading when using custom schema with multiple struct fields"
When defining multiple struct fields in a custom schema, the latter fields do not get loaded correctly. The following Python example can be used to reproduce the issue. Consider this XML document:

[code]

If I would want to load just the second struct element (`<struct2>`), I would define the following schema:

[code]

This results in:

[code]

The value is `null`, which is not correct. When defi

[2016-04-28 00:02] HyukjinKwon commented on #102
Hm.. for the reason here, https://github.com/databricks/spark-csv/pull/318#issuecomment-215065563, I think it might make senses to include those..

[2016-04-28 02:09] HyukjinKwon commented on #113
@joostfarla Thanks for your codes and data. I will try to reproduce this first.

[2016-04-28 02:10] HyukjinKwon commented on #102
Let me label this `won't fix` until data sources in Spark changes their behaviour.

[2016-04-28 03:17] TYoung1221 opened #114 "Will it support the creating dateframe from existing RDDs?"
For example. if I have one existing rdd,
`val lines = sc.textFile("/home/spark/new.xml")`
 how can I create the dataframe based on this rdd?

[2016-04-28 03:41] HyukjinKwon commented on #114
Yes it does. It has the [API](https://github.com/databricks/spark-xml/blob/master/src/main/scala/com/databricks/spark/xml/XmlReader.scala#L96-L103) (although this should be deprecated)

For example, this will work:

[code]

But I recently noticed there is a problem, that is, the RDD as an argument should contain each XML document for each record, meaning `sc.textFile(...)` with well-formed xml doc

[2016-04-28 06:50] HyukjinKwon opened #115 "Improve performance of XML schema inference's compatibleType method"
This issue is similar with [SPARK-14972](https://issues.apache.org/jira/browse/SPARK-14972).

According to the PR description, it looks this fix brings a high performance improvement ("a 2x-4x speedup").

Since XML data source resembles merging types at JSON data source for type inference, this patch can be similarly applied to this library as well.

[2016-04-28 21:50] MasseGuillaume opened #116 "Register your spark package"
You have a dependency on Apache Spark. You can register your package at
http://spark-packages.org/register.
It's "[a] community index of packages for Apache Spark."

[2016-04-29 00:10] HyukjinKwon commented on #116
My original repository of this was registered in http://spark-packages.org/package/HyukjinKwon/spark-xml but it seems I can't upload this one. I see one of the requirements for a Spark package

I am not the owner of this package but a collaborator.

cc @rxin

[2016-04-29 10:29] lokm01 opened #117 "No value in nested struct causes arrayIndexOutOfBounds"
Hi,

I found a problem (not sure if this is more related to spark-xml or spark itself), but I was able to fix it with small change in the code of spark-xml.

The issue is with nested structs, namely when one of them is missing.

We have large XML documents similar to:
[code]
As you can see, the `<es>` element in the second record is null.

When doing any action on the dataframe, I get ArrayOutOfBo

[2016-04-29 10:38] lokm01 commented on #117
Forgot to mention that the exception is thrown in Spark 1.5.2. 1.6.1 seems to fix the issue when writing, but selects on the nested structures still fail

[2016-05-01 13:50] HyukjinKwon commented on #92
To extend this issue and to be more clear,

with the data below:
[code]

with the codes below:
[code]

produces an exception below:

[code]

I haven't looked into this yet. Let me maybe open another issue if it is not the same one with the above.

[2016-05-02 00:36] maarest opened #119 "Parse XML as String [Feature Request]"
Sample XML

[code]

I'd like to be able to give a schema element:string, nested:string, such as the value of nested is
`"<nest>value</nest>"`
. Right now if I provide a schema with nested as StringType, it fails with a Scala MatchError

This is an improvement / feature request and not a bug. Don't know how hard it would be to implement?

Cheers!
Stephane

[2016-05-02 00:38] HyukjinKwon commented on #119
@maarest Thanks for reporting this and pointing this out precisely. Actually, I found this problem too. This PR, https://github.com/databricks/spark-xml/pull/107, will solve that issue. I will test this again with the PR.

[2016-05-09 01:24] maarest commented on #119
any news on the testing?

[2016-05-10 00:44] maarest opened #120 "[Bug] XmlInputFormat doesn't play nice with newlines"
Hi,

I have no idea how to fix it but this seems a pretty tricky bug

The following code:
[code]

works for the following xml:
[code]
but doesn't work for the following xml (newline right after tag)
[code]

[2016-05-13 02:00] HyukjinKwon commented on #117
@lokm01 This one is merged. Do you mind closing this?

[2016-05-13 02:25] HyukjinKwon commented on #119
@maarest Sorry, I have been busy. I realised I gave a wrong link. This was actually fixed in https://github.com/databricks/spark-xml/pull/106 and included in 0.3.3. So,

with the data below

[code]

this code below:

[code]

will produce the results below:

[code]

[2016-05-13 02:27] HyukjinKwon commented on #120
Hm.. I see. I will try to reproduce this. Thank you for reporting this!

[2016-05-13 02:28] HyukjinKwon commented on #100
Fixed in https://github.com/databricks/spark-xml/pull/110.

[2016-05-13 02:39] HyukjinKwon commented on #113
@joostfarla Hm.. for me it sounds like the support for partial schema (or filtering by this). I think if we can support https://github.com/databricks/spark-xml/issues/42, it will be able to load the XML data as above rather than directly supporting this.

[2016-05-13 02:47] HyukjinKwon commented on #120
Indeed. This should be around here https://github.com/databricks/spark-xml/blob/master/src/main/scala/com/databricks/spark/xml/XmlInputFormat.scala#L213-L225.

[2016-05-13 02:47] HyukjinKwon commented on #117
I am closing this. Feel free to reopen if this is still happening!

[2016-05-13 02:47] #117 closed

[2016-05-13 02:48] HyukjinKwon commented on #100
I am closing this. Feel free to reopen if this is still happening.

[2016-05-13 02:48] #100 closed

[2016-05-13 06:56] HyukjinKwon opened #123 "Change default values for valueTag and attributePrefix to avoid always require field escape for some apis."
If there is XML data as below:

[code]

This library currently uses `#VALUE` for `valueTag` and `@` prefix for `attributePrefix` (they were just taken after a python library `xmltodict`)

So, the data above will produce a schema below:

[code]

When it comes to Spark, it becomes problematic because it seems some APIs do not allow this field name. For example,

[code]

this will work but

[code]

d

[2016-05-13 06:58] HyukjinKwon commented on #123
FWIW, this would not be a problem if set `valueTag` and `attributePrefix` to acceptable string such as `_VALUE` or `_`.

[2016-05-16 01:07] #119 closed

[2016-05-16 09:03] joostfarla commented on #113
@HyukjinKwon this could definitely be related! I would be happy to perform some tests on my real datasets once this is supported.

[2016-05-18 10:37] HyukjinKwon opened #125 "Produces wrong order of columns for nested rows when user specifies a schema."
With the data here,

[code]

and with the codes below:

[code]

this produces the results below:

[code]

This is because it tries to set the value regardless of the index of schema for nested rows.

[2016-05-24 14:44] paritosh-gupta opened #127 "Save as string Dataframe or RDD"
Is it possible to write xml as string rows to a dataframe-column or rdd?
I have some legacy python elementree parsing implementation that would require a some effort to convert to a spark implementation. I was hoping to write out dataframe rows  as xml string into a new column and then map it with my existing python code.

[2016-05-24 16:23] paritosh-gupta commented on #127
Hey so I tried to do this by modifying the scala code however If I compile from source I get the error shown below. For some reason it is unable to find the load function. I stashed my changes and did a build from master and latest release commit version too same error. Any ideas?
[code]

[2016-05-30 11:00] Bertrandbenj opened #128 "Bypassing rootTag and rowTag"
Hi, I would like to get rid of the RowTag and RootTag when writing out XML

I'm trying to generate an XML that looks as follow :

<myRoot withTimestamp="date">
    <MetadataA>someTextString<MetadataA>
    <MetadataB>someOtherTextString<MetadataB>
    <RowOfData attribute="huhu">
       <NestedStruct>withValue</NestedStruct>
       <AnotherNestedStruct>1234</AnotherNestedStruct>
    </RowOfData>

[2016-05-31 08:55] HyukjinKwon commented on #128
Hi @Bertrandbenj , I agree writing XML via this library is not flexible much with `rowTag` and `rootTag`.
I think this definitely should be improved. Originally I focused on the roundtrip in writing and reading XML data.

Currently, It won't be able to just skip both. Maybe, we should think a better way to support this flexibly.

[2016-05-31 10:08] Bertrandbenj commented on #128
The concept seems to be quite generic to hierarchical data, so maybe there is ideas to be taken from the JSON api unless it has the same issue and was also design to load flat files.
There are two ideas :

- To handle XML in heavily parallelized way wouldn't become effective to build an RDD like RDD<Tuple<AbsoluteXPath, valueAsTypeX>>  It's memory greedy, I know, but there may be ways to filter ou

[2016-06-10 12:37] davidtambjss commented on #127
Hello I am also looking for a way to do something similar.  Basically what I need is a mapper function that takes in a Row object in spark dataframe and convert each Row into xml string.

If you can point me in the right direction I am happy to make the change.  I think it just need some conversion / adaptation to [StaxXmlGenerator.scala](https://github.com/databricks/spark-xml/blob/master/src/mai

[2016-06-10 13:40] Bertrandbenj commented on #127
I think [package.scala ](https://github.com/databricks/spark-xml/blob/master/src/main/scala/com/databricks/spark/xml/package.scala)shows how it happens :

val xmlRDD = dataFrame.rdd.mapPartitions ....

Im not sure how it all get invoked but there is a lot of things in that class that I need to change/override.
that is where it creates

- IndentingXMLStreamWriter which is cool but not always necess

[2016-06-10 14:10] davidtambjss commented on #127
Thanks @Bertrandbenj yes this is exactly what I need.  Although after more thoughts I am not sure how I can reuse this.
And yes I agree ultimately it will be kept as RDD of String, however in my case what I really need is RDD[key, xml] where key is a column (or string from function on columns).

Thanks again - I will see what I can do next.

[2016-06-10 15:21] Bertrandbenj commented on #127
df.toJavaRDD().map(r -> RowFactory.create("SomeKeyString", XMLdataFrame))

[2016-06-13 16:09] davemoyers commented on #128
I would also like to provide a comment that knowing the rootTag and rowTag up front is not very practical. In an application that must handle several types of XML content, it would require a significant amount of up-front effort to pre-parse the data and then organize it so that a Spark job can be generalized to handle different formats. If that much effort is required, then it may be better, in m

[2016-06-14 01:56] HyukjinKwon commented on #127
@Bertrandbenj Meanwhile, I think both points below are worth being considered to handle within this library.

[2016-06-14 01:58] HyukjinKwon commented on #128
It seems related with https://github.com/databricks/spark-xml/issues/127#issuecomment-225759676. Maybe we need some options to disable the tags and `IndentingXMLStreamWriter`.

[2016-06-14 14:59] davidtambjss commented on #127
Thanks @HyukjinKwon @Bertrandbenj
I actually thought that I have got something working (it runs perfectly in my unit test) but the horror came when I tried to compile:
`com.sun.xml.internal.txw2.output.IndentingXMLStreamWriter`
Is giving me loads of grief, as it doesnt compile and gives me:
[code]
Can the StaxXmlGenerator be changed to use for example:
`com.sun.xml.txw2.output.IndentingXMLStreamWr

[2016-06-15 09:31] Bertrandbenj commented on #127
Can you share your code please, Im trying to implement my own map partition function similarly but I indeed got in a similar problem, the StaxXMLGenerator is unfortunately tuned for the IndentingXMLStreamWriter. my suggestion would be to define StaxXMLGenerator with a XMLStreamWriter which should be the higher level so that we can pass it our own StreamWriter.

Also in my case all I need is the fo

[2016-06-15 10:21] HyukjinKwon commented on #127
I was surprised that a builtin library breaks Java version compatibility without deprecation warnnings. I will take a look soon as well!

[2016-06-15 11:07] HyukjinKwon commented on #127
I see. I run travis tests with Oracle JDK 8 but it seems passed, https://travis-ci.org/HyukjinKwon/spark-xml-1. However, it seems those library should not be used directly (assuming from this Java bug report, http://bugs.java.com/bugdatabase/view_bug.do;jsessionid=1711ee4eae3ff10565fc7a212018?bug_id=6778491). I don't understand why they are public though.

After looking into this deeper, I will ma

[2016-06-15 15:58] davidtambjss commented on #127
@Bertrandbenj unfortunately I am not allowed to use scala in my current work environment.
My code is simply this (in java):

    static String toXMLMessage(Row row)  {
        final XMLOutputFactory factory = XMLOutputFactory.newInstance();
        final XmlOptions options = XmlOptions.apply(
                toScalaMap(ImmutableMap.of("rowTag", "aMessage"))
        );

        try (CharArrayWriter

[2016-06-15 16:01] davidtambjss commented on #127
@HyukjinKwon thank you much appreciate as I say it maybe just a matter of  changing import from:
`com.sun.xml.internal.txw2.output.IndentingXMLStreamWriter`
to
`com.sun.xml.txw2.output.IndentingXMLStreamWriter`

or even better the partial function should take in XMLStreamWriter instead (you can still pass in IndentingXMLStreamWriter which is a child of XMLStreamWriter I think).

Cheers!!

[2016-06-16 01:02] HyukjinKwon commented on #127
@davidtambjss Actually, I originally used `com.sun.xml.txw2.output.IndentingXMLStreamWriter` but I changed this to `com.sun.xml.internal.txw2.output.IndentingXMLStreamWriter` because it was failed in some Java versions but maybe I was wrong.

I will change this to `com.sun.xml.txw2.output.IndentingXMLStreamWriter` if I https://travis-ci.org/HyukjinKwon/spark-xml-1 gives me all passes. If not, I wi

[2016-06-17 13:11] vipulg commented on #92
Any idea if this is being worked upon

[2016-06-22 10:04] stevencox opened #130 "Concurrency"
Can spark-xml be used to read lots of files in parallel? i.e., I've used RDDs of file names in the past and, using map(), read the files in parallel at the executors. The general usage patterns I see for spark-xml look like I/O would be serialized at the driver. Am I missing something simple?

Thanks.

[2016-06-22 10:18] HyukjinKwon commented on #130
Hi @stevencox, the transformation process would be executed in parallel just like the other data sources. Do you mind if I ask some sample codes you run? I would like to reproduce if it was observed that the jobs are executed not in parallel.

[2016-06-22 19:56] stevencox commented on #130
Hi @HyukjinKwon, I'm probably just not using the API correctly. Perhaps you can help me get it straight.

I'm iterating over a list of XML files to create a list of dataframe objects.

My first question is why there's a large pause between each file (which suggest it's actually being parsed, therefore serializing I/O) whereas, I thought execution should be deferred until I try to call collect() or

[2016-06-22 22:00] stevencox commented on #130
I just learned about SparkContext.union() which seems like a better option for my second question.

[2016-06-23 06:22] bigdataamdi opened #131 "Reading all dataframes from each rowTag at once."
Hi,

I am currently loading multiple dataframes by reading different rowTags from a single Xml file which is very small. Is there a way to load data from all rowTags into a single dataframe at once and take it from there?

Thanks!

[2016-06-24 00:48] HyukjinKwon commented on #131
Hm.. I think it might be possible as below although I haven't tested this yet:

[code]

Maybe I will update this on this weekend after testing this.

[2016-07-05 14:25] Bertrandbenj opened #132 "woodstox conflict"
I'm tempted to say this library wears its name accurately :-) after hours of debugging why my XMLs output ended truncated (if any content at all), I figured [this library](https://mvnrepository.com/artifact/org.codehaus.woodstox/woodstox-core-asl/4.4.1) specifically the 4.4 version was screwing my build. I'm using ivy, Spark 1.5.2 / 1.6.1 (pre build including hadoop 2.6)  and of course spark-xml 0

[2016-07-05 19:35] wpoosanguansit opened #133 "Error in running the code sample in a project."
I closed it as I found links to a similar issue.

[2016-07-06 09:57] bolau opened #134 "Collection of empty and non-empty items fails in serialization"
Hi,

here's a minimal example xml file I have problems with:
[code]

When I parse this file, write it to parquet, read it back from parquet, and collect it, all is fine:
[code]
However, when I cache or collect it directly, I get errors that seem to be related to serialization:
[code]

And similar:
[code]

This is pyspark with spark 1.6.2 and spark-xml_2.10:0.3.3.
Thanks in advance for any help!

B

[2016-07-06 11:17] HyukjinKwon commented on #134
It seems like an issue. I will try to reproduce this soon. Thank you for reporting this!

[2016-07-06 12:14] #133 closed

[2016-07-06 17:37] wpoosanguansit opened #135 "How to use the library with Spark Streaming?"
Hi,

Is there an example of using the library with Spark Streaming?  I am new to both Spark and the library.  Any pointer is appreciated.  Thanks.

[2016-07-07 12:56] slowenthal opened #136 "valueTag and attributePrefix not honored when specifying a Schema"
If I specify valueTag, attributePrefix, and a schema, the attributePrefix and valueTag are ignored.  This make it very difficult to use with the DataSets API as I can't create case classes with field names such as @id.

Let me know if there is a way to easily use DataSets with the XML parser.

[2016-07-07 13:36] HyukjinKwon commented on #136
I will try this on this weekend and fix this if it is a problem. Thanks for reporting this. Do you mind sharing some codes and your sample data maybe?  I would like to reproduce.

[2016-07-07 17:38] #136 closed

[2016-07-07 17:39] slowenthal commented on #136
Probably my fault - didn't fix the @ sign in the schema

[2016-07-07 19:09] HyukjinKwon commented on #136
Thanks for having interests in this :).

[2016-07-10 08:48] HyukjinKwon commented on #134
Hm.. I can't reproduce this with Scala version. Maybe this is related with https://github.com/databricks/spark-xml/pull/121. I will try the Python version soon as well. Meanwhile, do you mind if I ask try that with the master branch one?

[2016-07-10 08:50] HyukjinKwon commented on #135
This library has not been tested against 2.0 yet and I guess this should implement `FileFormat` in 2.0 anyway. I will let you know if I start to work on this.

[2016-07-10 08:51] HyukjinKwon commented on #132
Thanks for opening this! I will take a look soon!

[2016-07-10 08:57] HyukjinKwon commented on #125
Fixed in #126

[2016-07-10 08:57] #125 closed

[2016-07-10 09:16] HyukjinKwon opened #137 "Migrate to Spark 2.0"
This should also be upgraded. I will resemble the PRs for others as soon as other data sources e.g. spark-avro and spark-redshift are done.

[2016-07-10 13:08] bolau commented on #134
Yes, that fixes the problem indeed. Sorry for not finding that issue and bothering you with this. When can we expect a next release that can be loaded with --packages com.databricks:spark-xml?
Thanks again for your help!

[2016-07-10 13:08] #134 closed

[2016-07-10 13:10] HyukjinKwon commented on #134
Maybe I should release this as soon as Spark 2.0 is released. Thank you for reporting this!

[2016-07-10 13:14] wpoosanguansit commented on #135
Thanks for your help.

[2016-07-12 15:57] hghina0 opened #138 "auto-detect new files"
Hello,

Can this library auto-detect new xml files on HDFS and provide DStream out of it? Similar to  `streamingContext.textFileStream("hdfs:///tempDir")`

Thanks

[2016-07-14 10:09] amitdubey766 opened #139 "Disable scientific notation"
Hi,
If tag contains integer value with spaces , it is converted to scientific notation in dataframe .
for eg :  <V1>42451267 </V1>   is converted to 4.2451267E7

Is there any way to disable scientific notation or any workaround ?
for more information you follow this link
http://stackoverflow.com/questions/38196739/how-to-disable-scientific-notation-in-spark-dataframe

[2016-07-15 05:10] parix opened #140 "How to parse a dataframe containing xml strings?"
Hi,

I have a dataframe here:

[code]

Is it possible to parse the xml string inside this dataframe using spark xml?

Thanks!

[2016-07-15 08:39] D059566 commented on #92
Hi,

I have a similar issue where I want to read an XML file with multiple attributes per tag. Here's the file structure:

[code]

--> Is there any way I can have com.databricks.spark.xml write all the attributes into one cell as a string and I come up with my own way of splitting and transforming this into a table? Are there any updates on the proposed fix?

thanks much,
best,

jonathan

[2016-07-15 15:17] D059566 opened #141 "Processing empty elements with multiple attributes does not work"
I want to read an XML file with multiple attributes per tag and would need some help. I am able to read and process the sample files but can’t find a solution for my XML. Here's the file structure:

[code]

I have tried to read the file with the following command (also tried in scala, no difference), but only get an empty table:

[code]

Is there any way I can parse this so I can have the attribut

[2016-07-16 08:49] HyukjinKwon commented on #140
Hm.. I think you might better just use normal XML parser  for each row since it seems your data is already loaded into data frame.

[2016-07-16 08:51] HyukjinKwon commented on #139
It seems your data was loaded as double. How about setting a schema explicitly if your data structure is not super complicated? It would be not really good in production to use schema inference anyway.

[2016-07-16 08:54] HyukjinKwon commented on #141
I will update you after reproducing this. Thanks for reporting this!

[2016-07-16 08:55] HyukjinKwon commented on #138
I guess this is related with https://github.com/databricks/spark-xml/issues/137 and https://github.com/databricks/spark-xml/issues/135. I will check this out soon.

[2016-07-16 08:56] HyukjinKwon commented on #138
Let me just mark this as duplicated and I will summarize related updates in https://github.com/databricks/spark-xml/issues/137.

[2016-07-16 08:56] HyukjinKwon commented on #135
Let me just mark this as duplicated and I will summarize related updates in https://github.com/databricks/spark-xml/issues/137.

[2016-07-16 09:13] HyukjinKwon commented on #113
Let me mark this as a duplicated (although this issue is slightly different with #42 I think they can be closed together).

I would get rid of the duplicated tag if you strongly feel it is a different issue anyway.

[2016-07-19 19:20] kkarthik21 commented on #91
Hi @Bertrandbenj
Is it possible to use the explode function in flatmap. Can you please tell me how do i flatten the below array structure
[code]

@HyukjinKwon
is this fixed?

[2016-07-20 13:00] stevencox commented on #130
@HyukjinKwon, can you help me understand why the code below still reads one file at a time?

1. First, we find a set of XML files and parse them. My intention is to union a set of dataframes without actually executing the Spark pipeline:

[code]
2. The parse_xml function looks like this:
[code]
I had hoped that parse_xml would not actually parse the file so that I could union the resulting datafra

[2016-07-20 14:21] stevencox commented on #130
FYI, for whatever it's worth to others, I
* Got rid of dataframes
* parallelized the file list as an RDD
* parsed each with ElementTree
* flatMapped the results into a flat RDD
It's easy and perfectly parallel.

[2016-07-20 15:08] Bertrandbenj commented on #130
It takes time because if you dont specify a schema, it has to infer it.
though im not a python coder and you seem to have solved your issue

On Wed, Jul 20, 2016 at 4:21 PM, Steven <notifications@github.com> wrote:

[2016-07-21 18:29] skamkar commented on #140
So to be clear, is it possible to use spark-xml to parse dataframes (or rdds) in memory, or is it just not recommended? There is some key functionality that spark-xml provides over normal XML python parsers (like xmltodict), so I'd like to use it if possible.

Thanks!

[2016-07-22 11:42] D059566 commented on #141
Hi Hyukjin,

Do you need any other information, anything I can help you with? I’ve been trying to use Hadoop streaming to approach the issue but haven’t gotten anywhere with this yet. Seems like this is a rather universal issue…

Cheers,

jonathan

From: Hyukjin Kwon [mailto:notifications@github.com]
Sent: Saturday, July 16, 2016 10:55 AM
To: databricks/spark-xml <spark-xml@noreply.github.com>
Cc:

[2016-07-24 14:37] fadaytak commented on #141
have you any idea  to resolve this issue or any other solution with similar library?

[2016-07-25 00:44] HyukjinKwon commented on #123
BTW, it we can escape this with ``.

But it seems better to follow the field name rules for CSV and unknown field naming roles in Spark which adds a prefix, `_`.

[2016-07-25 04:36] HyukjinKwon commented on #141
Sorry for the late reply...

Hm, I just tested the codes equalvant with yours. Could you try the codes as below:

[code]

[code]

[code]

[code]

[2016-07-25 04:38] HyukjinKwon commented on #141
Oh, I see you just want to extract `check` elements right?

you can do this as below:

[code]

[code]

Currently, self-closing elements are not able to be load. This is related with https://github.com/databricks/spark-xml/issues/92.

I will mark this as duplicated so that I can manage them together. If you feel strongly it is not the duplicate, I will remove the tag :)

[2016-07-25 04:45] HyukjinKwon commented on #141
Maybe this will be the complete answer you want,

[code]

[code]

[2016-07-26 09:59] D059566 commented on #141
Thanks! This does help! For some reason I can't do a select on e.* but have to specify the columns (I am running spark 1.5.2 with Scala 2.10, do you think this has an impact?)

[code]

About labeling this as a dublicate of #92 I very much agree. Looking forward to the new feature =)

Thanks for your help, Hyukjin

[2016-07-28 05:56] HyukjinKwon commented on #137
Hi @liancheng and @cloud-fan, I am trying to release 0.3.4 (for several minor fixes)/0.4.0 (for Spark 2.0). I would appreciate if you give me some advice please.

I would like to,

 - release 0.3.4 for minot fixes first (https://github.com/databricks/spark-xml/pull/146)
 - then, upgrade to Spark 2.0 with `parseMode` introduced in https://github.com/databricks/spark-xml/pull/107
 - deprecate [`Data

[2016-07-28 10:29] witwall opened #147 "java.lang.NoSuchMethodError: org.apache.spark.sql.types.DecimalType$.Unlimited"
spark-xml with spark 2.0 got the error,
[code]

[2016-07-28 10:51] HyukjinKwon commented on #147
Thanks for reporting this. I should upgrade this. FYI, here is the related issue https://github.com/databricks/spark-xml/issues/137

I will submit a PR soon.

[2016-07-28 12:00] AshwaniGaur opened #148 "Dataframe is null when parent and child tag names are same"
Following valid XML returns a null Dataframe:
&lt;Parent&gt;
  &lt;Child&gt;&lt;/Child&gt;
  &lt;Parent&gt;&lt;/Parent&gt;
&lt;/Parent&gt;

when row-tag is given as &lt;Parent&gt;

[2016-07-28 12:03] HyukjinKwon commented on #147
Let me tag this as a duplicate so that I can manage the similar issue together. If you strongly feel this is not a duplicate, I will remove the tag! Thanks again!

[2016-07-28 12:04] HyukjinKwon commented on #148
Yea, this is an issue. Thanks!

[2016-07-31 22:35] hamzaezzi commented on #92
check my PR

https://github.com/databricks/spark-xml/pull/149

;)

[2016-08-10 18:48] jotaporras commented on #141
The fix works fine on version 0.3.3, running spark 1.6.0, Scala 2.10, but this doesn't seem to work, so I had to specify each column as well:

`df.selectExpr("explode(check) as e").select("e.*").show()`

[2016-08-12 14:47] anayyar82 opened #151 "com.databricks.spark.xml.parsers.StaxXmlGenerator"
while reading the large xml getting below issue. any idea ?

java.lang.NullPointerException
	at com.databricks.spark.xml.parsers.StaxXmlGenerator$$anonfun$apply$4.apply(StaxXmlGenerator.scala:131)
	at com.databricks.spark.xml.parsers.StaxXmlGenerator$$anonfun$apply$4.apply(StaxXmlGenerator.scala:129)
	at scala.collection.immutable.List.foreach(List.scala:318)
	at com.databricks.spark.xml.parsers.S

[2016-08-13 01:37] HyukjinKwon commented on #151
Do you mind if I ask the data if it is okay? I would like to test and narrow down the case.

[2016-08-13 20:27] jayed commented on #147
I have the same problem.

[2016-08-14 01:02] HyukjinKwon commented on #147
I opened a PR hrre, https://github.com/databricks/spark-xml/pull/150 . I will merge some other PRs and release 0.4.0 as soon as this one is reviewed.

[2016-08-15 14:34] anayyar82 commented on #151
Sure data is Okay,  attaching the XML. Can you please provide the sample how to parse it

<FWD A20="QPP" A40="DE" B00="AB" TIM="1466658039753" END="1466658041568" TID="314786023654607885">
    <ns8:OTA_AirLowFareSearchRQ
        xmlns:ns5="http://www.w3.org/1999/xlink"
        DirectFlightsOnly="false" MaxResponses="0" ResponseVersion="1.9.4" Target="a" Version="1.9.4">
        <ns8:POS>

[2016-08-15 18:24] archerbj opened #152 "java.lang.ClassNotFoundException: Failed to find data source:"
Hi , i am just testing the example code

[code]

but i ran into this classNotFoundException

BTW,  i am using spark 1.6.1
tried test from spark shell with
  $SPARK_HOME/bin/spark-shell --packages com.databricks:spark-xml_2.11:0.3.3

java.lang.ClassNotFoundException: Failed to find data source: /Users/ArcherMacPro/coding/bigData/resources/books.xml. Please find packages at http://spark-packages.org

[2016-08-17 07:34] rpslive commented on #91
Hi @kkarthik21
you can explode the df on chunk it will explode the whole df into every single entry of chunk array, then you can use the resultant df to select each column you want, thus flattening the whole df.

[2016-08-17 19:34] anayyar82 opened #153 "Loading xml to databricks"
Hello, Getting below error if i load the file.

Prog is straightforward :

    val sc = new SparkContext()
    val sqlContext = new SQLContext(sc)
    val df = sqlContext.read
      .format("com.databricks.spark.xml")
      .option("rowTag", rowTag)
      .load(infile)

16/08/17 14:31:38 ERROR DefaultWriterContainer: Aborting task.
scala.MatchError: 7248 (of class java.lang.Long)
	at org.apache.sp

[2016-08-17 22:59] HyukjinKwon commented on #153
Do you mind if I ask the sample XML format you have?

[2016-08-17 23:46] anayyar82 commented on #153
here are the attached file.

Kindly let me know how can i process and dump it to parquet. Very important
for my project.

On Wed, Aug 17, 2016 at 5:59 PM, Hyukjin Kwon <notifications@github.com>
wrote:

--
Thanks,
Ankur Nayyar,
9802194760

[2016-08-18 01:31] HyukjinKwon commented on #153
@anayyar82 Thanks for quick reply though.. it seems it was missed somehow. I can't find the file..

[2016-08-18 01:34] anayyar82 commented on #153
I think can't attach , is there any way to send or attach

On Wednesday, August 17, 2016, Hyukjin Kwon <notifications@github.com>
wrote:

--
Thanks,
Ankur Nayyar,
9802194760

[2016-08-18 01:58] HyukjinKwon commented on #153
You can just given me a bit of your data as a sample here or please send me an email directly. I exposed my email address in my github profile.

[2016-08-18 01:59] HyukjinKwon commented on #152
Hm.. so you mean

[code]

or

[code]

is not working in 1.6.1?

[2016-08-18 01:59] anayyar82 commented on #153
Hello, I already sent .. Can you confirm it please..

On Wednesday, August 17, 2016, Hyukjin Kwon <notifications@github.com>
wrote:

--
Thanks,
Ankur Nayyar,
9802194760

[2016-08-18 02:00] HyukjinKwon commented on #153
Oh, I am sorry. Yes I got this. I will try to reproduce this.

[2016-08-18 17:01] archerbj commented on #152
[code]

works in spark 1.6.1

[code]
dosen't work

this is so weird  lol

[2016-08-18 17:57] anayyar82 commented on #153
Do we have any update ? Just wondering if we get any idea..

On Wed, Aug 17, 2016 at 9:00 PM, Hyukjin Kwon <notifications@github.com>
wrote:

--
Thanks,
Ankur Nayyar,
9802194760

[2016-08-19 11:06] Esteban-De-la-Sexface opened #154 "Spark 2.0 - databricks xml 2.11:0.3.3 not working"
Hello,

I have spark 2.0 running, built with scala 2.11.8. It seems this is not compatible with any version of the spark-xml library.

I keep getting NotImplemented errors for Decimal type? any idea if this is or should be supported?

[2016-08-19 11:10] HyukjinKwon commented on #154
Yup, I just submitted a PR here, https://github.com/databricks/spark-xml/pull/150
I will release 0.4.0 as soon as possible.

BTW, please let me mark this as a duplicated with https://github.com/databricks/spark-xml/issues/137 so that I can manage them all together!

[2016-08-19 11:10] Esteban-De-la-Sexface commented on #154
Thanks @HyukjinKwon,

[2016-08-19 11:10] #154 closed

[2016-08-19 13:15] HyukjinKwon commented on #153
Yup, do you mind if I ask what you gave for `rowTag` please? It seems working fine with `` as below:

[code]

[code]

[2016-08-19 13:16] HyukjinKwon commented on #152
Ah, you should match the Scala version to the one of Spark one. That's why there is two versions of complied libraryies here :). Please let me close this. If you feel strongly this is an issue, please reopen this!

[2016-08-19 13:16] #152 closed

[2016-08-19 13:17] HyukjinKwon commented on #153
Hm, is this the same issue with https://github.com/databricks/spark-xml/issues/151 ?

[2016-08-19 14:15] anayyar82 commented on #153
very interesting, i am doing the same but getting error.  Below are the
code.

Can you please share your actual scala file.

val df = sqlContext.read
  .format("com.databricks.spark.xml")
  .option("rowTag", "FWD")
  .load(infile)

print(df.show())

df.write.parquet(outFile)

scala.MatchError: 7248 (of class java.lang.Long)

	at org.apache.spark.sql.catalyst.CatalystTypeConverters$StringConverter$

[2016-08-19 14:15] anayyar82 commented on #153
Yes

On Fri, Aug 19, 2016 at 8:17 AM, Hyukjin Kwon <notifications@github.com>
wrote:

--
Thanks,
Ankur Nayyar,
9802194760

[2016-08-19 14:21] anayyar82 commented on #153
Here are my server config -

 Running Spark version 1.5.0-cdh5.5.1

        <dependency>
            <groupId>com.databricks</groupId>
            <artifactId>spark-xml_2.10</artifactId>
            <version>0.3.2</version>
        </dependency>

        <dependency>
            <groupId>org.apache.spark</groupId>
            <artifactId>spark-sql_2.10</artifactId>
            <version>1.6.1</vers

[2016-08-19 14:24] HyukjinKwon commented on #153
I just opened a spark shell and executed the codes. It seems the exception is not from this library.

I tried this with current master version. Do you mind if I ask to check this against current master/0.3.3?

Meanwhile, I will try to find potentially related issue with this. BTW, the error message itself does not look like it is from this library though.

[2016-08-19 14:25] anayyar82 commented on #153
Oh ok, sure let me build with 0.3.3 and then will run the same.

On Fri, Aug 19, 2016 at 9:24 AM, Hyukjin Kwon <notifications@github.com>
wrote:

--
Thanks,
Ankur Nayyar,
9802194760

[2016-08-19 14:39] anayyar82 commented on #153
Yes, its working with 0.3.3 , Great !!!

I am going to create parquet table and create with partitions. i will update you in few minutes.

[2016-08-19 14:49] anayyar82 commented on #153
once i have created Parquet file, it added @symbol, like below.

How to ignore that one, the reason is if you create table in impala or hive with generated structure it throwing the error that @is not valid symbol.

message root {
  optional binary @A20 (UTF8);
  optional binary @A40 (UTF8);
  optional binary @B00 (UTF8);

[2016-08-19 14:52] HyukjinKwon commented on #153
Good to know that. You can set `attributePrefix` to ,for example, `_`. That will make the Parquet schema as below:

[code]

[2016-08-19 19:12] anayyar82 commented on #153
Thanks now once i tried to load a full large file getting below exception :

any idea ?

Exception: Task failed while writing rows.

at
org.apache.spark.sql.execution.datasources.DefaultWriterContainer.writeRows(WriterContainer.scala:250)

at
org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelation$$anonfun$run$1$$anonfun$apply$mcV$sp$3.apply(InsertIntoHadoopFsRelation.scala:150)

at

[2016-08-21 10:52] humanzz commented on #137
+1 for bringing the xml support for Spark 2.0. I hope this gets reviewed/committed/published soon!

[2016-08-21 20:49] srikanthjella opened #155 "Flattening XML in a DataFrame"
I am trying flatten variety of XMLs using DataFrames. I’m using spark-xml package which is automatically inferring my schema and creating a DataFrame.

I do not want to hard code any XPaths in DataFrame as I do not know the tag name before hand and each might be lot more depth. I simply want to flatten any type of XML and then write output data to a hive table.

Example XML and expected output is

[2016-08-22 00:17] HyukjinKwon commented on #155
I see. Is this related with https://github.com/databricks/spark-xml/issues/91?

[2016-08-22 02:40] HyukjinKwon commented on #91
It seems there isn't one single and clean way to do this. I could have some answers about this from local Spark community.

I hope these links are helpful.

https://community.hortonworks.com/questions/43787/can-sparksql-write-a-flattened-json-table-to-a-fil.html
http://stackoverflow.com/questions/36149608/spark-sql-generate-array-of-arrays-from-the-sql-function
http://stackoverflow.com/questions/3

[2016-08-22 02:41] HyukjinKwon commented on #91
cc @srikanthjella  FYI.

[2016-08-22 18:16] HugoLinton opened #156 "Empty Strings Not treated as null"
You're missing the actual code to handle empty strings being treated as null

[2016-08-22 18:22] HugoLinton commented on #156
StaxXmlGenerator - Line 45

	  case (_, _, "") if options.treatEmptyValuesAsNulls =>
	  // If the string is empty and the user has set to treat empty strings as null
	  // Then don't output anything

[2016-08-23 01:14] HyukjinKwon commented on #156
Yea, thank you for pointing this out. Actually, I am waiting for https://github.com/apache/spark/pull/14118 . I would like to match this up with CSV (and deprecating `treatEmptyValuesAsNulls` because `nullValue` set to `""` is equivalent with this).

[2016-08-23 01:15] HyukjinKwon commented on #153
Let me take a look in this weekend.

[2016-08-23 01:16] HyukjinKwon commented on #151
Do you mind close this if this is a duplicate of #153 please?

[2016-08-23 01:52] #151 closed

[2016-08-23 14:45] anayyar82 commented on #153
Just to more detail level - below is the issue

rg.apache.spark.SparkException: Job aborted due to stage failure: Task 3 in stage 2.0 failed 4 times, most recent failure: Lost task 3.3 in stage 2.0 (TID 65, bdaolp012node12.sabre.com): org.apache.spark.SparkException: Task failed while writing rows.
	at org.apache.spark.sql.execution.datasources.DefaultWriterContainer.writeRows(WriterContainer.scal

[2016-08-23 15:09] anayyar82 opened #157 "Failed to parse a value for data type StructType"
While reading XML file containing multiple rows, getting below error  : any way we can disable the validation check .

Caused by: java.lang.RuntimeException: Failed to parse a value for data type StructType(StructField(Ref,LongType,true), StructField(_VALUE,StringType,true)).
    at scala.sys.package$.error(package.scala:27)
    at com.databricks.spark.xml.parsers.StaxXmlParser$$anonfun$com$databr

[2016-08-24 03:27] anayyar82 opened #158 "PrintSchema is not generating XML Schema"
I am loading XML file but that xml file having some space and \n character in between , when i
 df.printSchema()  :::  print the schema it's not printing any thing.

Can you please help for this type of xml how to pass. when i using library and giving rowtag "ns:test1 " it just showing the xml like

WARN InferSchema$: Dropping malformed row: <ns:test1>	<ns:test11 Target=\"Cert\">	</ns:test11>\n	<n

[2016-08-24 03:40] HyukjinKwon commented on #158
Thanks for pointing this out. I will take a look on this weekend!

[2016-08-24 13:56] anayyar82 commented on #158
Proper XML for your testing :

`{"outer":{"string":"GMVHOS"}, "body":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n
  <ns:test1>
        <ns:test11 Target=\"Cert\">
        </ns:test11>\n
        <ns:test2 Target=\"Prod\">
        </ns:test2>
</ns:test1>
}`

[2016-08-24 15:54] mattroberts297 opened #160 "Nested elements with same name as parent fails"
This XML:

[code]

When loaded using the XmlInputFormat (I think this underlies everything but may be wrong):

[code]

Logs this:

[code]

Instead of this:

[code]

My workaround, use an xslt to rename the nested `<p>`:

[code]

I think the solution is to make `XmlRecordReader` track the depth (incrementing on start tags and decrementing on end tags) and only stop reading when the end tag is encou

[2016-08-25 09:04] HyukjinKwon commented on #160
Oh, yea. Thanks for detailed explanation. Yes, this is a bug and we should fix. Actually, this is a duplicate of https://github.com/databricks/spark-xml/issues/148 :)

Please go ahead for a PR.

BTW, please make sure your commits are linked to you. I just merged your PR but realised that the commits are not linked to your.

[2016-08-25 09:04] HyukjinKwon commented on #160
Let me mark this as a duplicate. Let's close both if this one is solved (as this one has a good example and explanation)

[2016-08-25 09:18] mattroberts297 commented on #160
Thanks for the heads up (bad config on my part).

[2016-08-25 09:48] HyukjinKwon commented on #137
Hi @JoshRosen , I am sorry for cc you here and there. Could you just check if it is sensible what I would like to do if you don't have time to review the PRs so that I will proceed and double-checking the PRs by myself?

[2016-08-25 15:36] anayyar82 opened #162 "Reading XML data from Avro table"
Is there any way we can read a string column as xml input.

We have load method which takes path as string, is there any way i can give string in load path.

[2016-08-29 01:56] rajabhathor opened #163 "I love the great work and effort put in... thanks! But the solution is sooo unfriendly in terms of practical implemantation"

[2016-08-29 02:09] HyukjinKwon commented on #163
Could you close this and be more specific for the issues you faced? I can't resolve this issue because I can't reproduce anything and even I can't guess what's so unfriendly.

[2016-08-29 02:13] HyukjinKwon commented on #163
Can you fill up the description of this issue so that we can know what's so unfriendly? Is there a suggestion for that? Also  could you please fix the title to be more specific?

[2016-08-29 02:16] HyukjinKwon commented on #163
I am closing this. Please open another issue.

[2016-08-29 02:16] #163 closed

[2016-08-29 06:25] HyukjinKwon commented on #158
Hm.. I see it seems it is not a XML standard format due to escaping `"` with `\`.

[2016-08-29 06:26] HyukjinKwon commented on #157
Do you mind if I ask some codes and sample data maybe?

[2016-08-29 06:30] HyukjinKwon commented on #162
Myabe I think you can do this as below:

[code]

[2016-08-29 06:38] HyukjinKwon commented on #153
Oh, I see. We should provide some values for `valueTag` and `attributePrefix` because this library has some logics to differentiate the value and attribute via `valueTag` and `attributePrefix`.

I think we should throw an explicit exception when it it set to empty strings. Do you want a PR for this?

[2016-08-30 02:12] metador opened #164 "Fails on some comments with Scala: MatchError"
I'm trying to load a xml file and it fails while parsing the some of the comments.
The comment `` fails with the error Scala: Match Error
but looks like `` is parsed without any problems.

Here is the XML

[code]

Here is the code that I am trying to run:
[code]

The error I am running into is the Scala:MatchError
Here is the Log:
[code]

Any idea why this is happening and how we can solve this?
T

[2016-08-30 02:43] HyukjinKwon commented on #164
Thanks for detailed explanation. I will take a look and be back.

[2016-08-31 04:40] #148 closed

[2016-08-31 04:42] HyukjinKwon commented on #160
This is fixed in #161

[2016-08-31 04:42] #160 closed

[2016-08-31 04:42] HyukjinKwon commented on #148
This is fixed in #161

[2016-08-31 05:03] HyukjinKwon opened #165 "Support for timestamp and date types with common formats for inferring/reading data"
This library currently does not support to infer dates with patterns and relies on `Timestamp.valueOf( )` and `Date.valueOF` to read both.

It might be great if this supports infer both with common date formats (or configurable).

[2016-08-31 09:37] HyukjinKwon commented on #164
Oh, it was my bad. I forgot to add a default case. I submitted a PR here https://github.com/databricks/spark-xml/pull/166.

[2016-08-31 22:52] ElectricMonk92 opened #167 "Xml with nested structure, values being put in wrong fields."
When parsing this file:
[code]
With Following Code:
[code]

gives:
[code]

expected:
[code]

This issue is not present for top level fields, they are populated with same value not matter the order they appear in the xml.

I am not sure what other information to add, but please ask and i will provide it.

[2016-09-02 10:03] mattroberts297 opened #168 "Perhaps spark-xml should ignore prefixes?"
Given a schema like this:

[code]

Then all of the following are valid instances:

[code]

[code]

[code]

At the moment, each xml file would have to be read with a different configuration. Unfortunately, according to the xml specification the prefix is user-defined and can be redefined at any element. For these reasons, client code would have to read the entire file and determine all prefixes ahe

[2016-09-02 10:39] HyukjinKwon commented on #168
I see. I think this is a reasonable suggestion. Maybe we can add an option to deal with this. Thanks for your kind and detailed explanation.

[2016-09-02 10:54] HyukjinKwon commented on #164
Fixed in #166 Thanks.

[2016-09-02 10:54] #164 closed

[2016-09-02 10:57] mattroberts297 commented on #168
Ah yes adding an option is a very good idea. Then we don't break previous behaviour.

[2016-09-02 20:56] anayyar82 commented on #157
It was same which sent you, the xml  and code is same.

[2016-09-03 00:50] anayyar82 commented on #157
Is it possible for you to reproduce it

[2016-09-03 01:18] anayyar82 commented on #153
Hello, Is that get resolve ?

On Mon, Aug 29, 2016 at 1:38 AM, Hyukjin Kwon <notifications@github.com>
wrote:

--
Thanks,
Ankur Nayyar,
9802194760

[2016-09-03 05:09] HyukjinKwon commented on #167
Yea, it was fixed in https://github.com/databricks/spark-xml/pull/126. Thanks for reporting this. I will publish a release soon.

[2016-09-03 08:36] ElectricMonk92 commented on #167
Excellent!  Thanks!  Sorry for creating a duplicate,  I did search for existing issues honest :)

[2016-09-04 01:44] HyukjinKwon commented on #167
@ElectricMonk92 I do understand. It's fine :) Do you mind closing this issue then?

[2016-09-04 01:44] #167 closed

[2016-09-04 08:01] somasundaramsekar opened #169 "Rows with special characters getting dropped"
I expect the below row to be parsed with default UTF-8, though it has some special characters, but end up getting dropped. any configurations that I'm missing or am I staring at an enhancement?

`<artist><id>4800147</id><name>Ðœ. Ð¨ÑƒÑÑ‚ÐµÑ€</name><profile></profile><data_quality>Needs Major Changes</data_quality></artist>`

[code]

[2016-09-04 08:02] HyukjinKwon commented on #153
@anayyar82 Yea, can you try to explicitly provide `attributePrefix` and `valueTag` rather than empty string?

[2016-09-04 13:24] lokm01 opened #171 "XmlInputFormat produces duplicate rows in large files"
There's a bug in the XmlInputFormat which causes duplicate rows to be produced when the input file spans over more input splits (for plain text and splittable compression format) in cases, where there is no whitespace between closing and opening row tags.

How to reproduce:
1) Use large XML file (e.g the protein file from http://www.cs.washington.edu/research/xmldatasets/www/repository.html#pir )

[2016-09-04 15:58] anayyar82 commented on #153
Ya that works , so is there no way we can have empty string , reason is
want to save in parquet format directly. Any alternative approach ?

On Sunday, September 4, 2016, Hyukjin Kwon <notifications@github.com> wrote:

--
Thanks,
Ankur Nayyar,
9802194760

[2016-09-05 00:48] HyukjinKwon commented on #171
I will try to reproduce this soon. Thanks for reporting this.

[2016-09-05 09:30] leokall opened #175 "scala.MatchError: for some node names but not others?"
Hi, I am trying to parse a xml something like:

[code]

This works:
[code]

However, changing for example "c2" in the xml and schemas to "whatever" gives me an error. I cannot understand why this is happening (I get the same error in my original xml as well).

`org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 47.0 failed 4 times, most recent failure: Lost task 0.3

[2016-09-05 10:06] HyukjinKwon commented on #175
@leokall Hm, do you mean changing

[code]

to

[code]

?

It seems it works okay with master branch. Could you please confirm it is okay with master branch?

I am about to release a new one so it'd be great if we can make sure everything is fine :)

[2016-09-05 10:09] HyukjinKwon commented on #175
I think this might be related with this https://github.com/databricks/spark-xml/issues/125 if it does not work. There was an issue about column ordering when users specify the schema. Could you maybe try with the schema below ?

[code]

[2016-09-05 10:13] HyukjinKwon commented on #169
Hm. I will take a look. I think it should work okay.

[2016-09-05 10:18] HyukjinKwon commented on #114
I am going to close this. Please feel free to reopen if you think it is not solved.

[2016-09-05 10:18] #114 closed

[2016-09-05 10:19] HyukjinKwon commented on #71
I am going to close this. Please feel free to reopen if you think it is not solved.

[2016-09-05 10:19] #71 closed

[2016-09-05 10:22] somasundaramsekar commented on #169
Here is the abt file I'm working with, also running on Windows 10

name := "dataframes"

version := "1.0"

scalaVersion := "2.11.8"

val sparkVersion="1.4.0"

libraryDependencies ++= Seq(
  "org.apache.spark" %% "spark-core" % sparkVersion % "provided",
  "org.apache.spark" %% "spark-sql" % sparkVersion,
  "com.databricks" %% "spark-xml" % "0.3.3"
)

resolvers ++= Seq(
  "Apache HBase" at "https:/

[2016-09-05 10:23] HyukjinKwon commented on #140
Yes, we can create another dataframe from rdd here, https://github.com/databricks/spark-xml/issues/114#issuecomment-215301575

I would like to make this similar with Spark's existing APIs. For example, without `XmlReader` but `spark.read.xml(rdd)` if possible.

[2016-09-05 10:54] leokall commented on #175
Thanks! I've been stuck with this for a long while now. It works if I define the nodes in my schema in alphabetic order. This should really be in the documentation though, hard error to catch.

[2016-09-05 10:54] #175 closed

[2016-09-05 10:59] HyukjinKwon commented on #175
@leokall Indeed, this should be documented. I am about to release a new one including several bug fixes soon. Thanks for reporting this!

[2016-09-06 00:15] TYoung1221 commented on #114
Sorry for the late reply. Sure, thanks!

On Mon, Sep 5, 2016 at 7:18 PM, Hyukjin Kwon <notifications@github.com>
wrote:

[2016-09-06 22:42] metador commented on #164
Thanks

[2016-09-07 23:41] nandakishore8031 commented on #147
I faced the same issue too.

[2016-09-09 10:35] HyukjinKwon commented on #111
This should be fixed in https://github.com/databricks/spark-xml/pull/161. Please feel free to re-open if this is still not resolved. Thank you all!

[2016-09-09 10:35] #111 closed

[2016-09-09 10:36] HyukjinKwon commented on #168
Hm, I guess https://github.com/databricks/spark-xml/issues/74 is related. I will leave this command as a reminder.

[2016-09-09 10:37] HyukjinKwon commented on #112
I am closing this as it seems not the issue in this library. Please feel free to reopen this! Thank you for reporting this!

[2016-09-09 10:37] #112 closed

[2016-09-09 10:38] HyukjinKwon commented on #16
Let me please mark this as a question just in order to manage the issues. Please let me know if this still happens.

[2016-09-09 10:40] HyukjinKwon commented on #83
This will be fixed in https://github.com/databricks/spark-xml/pull/110 and https://github.com/databricks/spark-xml/pull/166.

I am closing this. Please feel free to reopen if this still happens.

[2016-09-09 10:40] #83 closed

[2016-09-09 10:44] HyukjinKwon commented on #153
@anayyar82 IIRC, Parquet accepts `_`. How about setting the value to `_` and `_VALUE`?

[2016-09-10 11:34] HyukjinKwon commented on #147
I released 0.4.0 for Spark 2.x and 0.3.4 for Spark 1.x. So, this is resolved (manually tested). I am closing this. Please feel free to reopen if any of you faces this issue again. Thank all!

[2016-09-10 11:34] #147 closed

[2016-09-10 11:34] HyukjinKwon commented on #137
I released 0.4.0 for Spark 2.x and 0.3.4 for Spark 1.x. Closing this.

[2016-09-10 11:34] #137 closed

[2016-09-10 11:35] HyukjinKwon commented on #135
I will retarget this for 0.5.0.

[2016-09-10 11:35] HyukjinKwon commented on #138
I will retarget this for 0.5.0.

[2016-09-11 18:36] anayyar82 commented on #153
Thanks. It worked.

[2016-09-11 19:05] HyukjinKwon commented on #153
Good to know. Do you mind closing this?

[2016-09-12 09:49] HyukjinKwon commented on #153
I am closing this. Please feel free to reopen if you think this one is not resolved.

[2016-09-12 09:49] #153 closed

[2016-09-12 09:57] HyukjinKwon commented on #157
@anayyar82 Sorry for my late reply. Are you still facing this problem? I would like to confirm before trying to reproduce this.

[2016-09-12 09:57] HyukjinKwon commented on #169
@somasundaramsekar Do you mind if I ask to try this with 0.3.4? It seems this was fixed somewhere.

[2016-09-12 09:58] HyukjinKwon commented on #162
Do you mind if I close this @anayyar82 ?

[2016-09-12 15:33] #162 closed

[2016-09-12 15:33] #158 closed

[2016-09-12 19:01] anayyar82 opened #177 "How to use regex or remove ns"
if one of the xml is having tag ns8:xyz /ns8:xyz then
how to update <xyz> </xyz>

i have regex which can be removed but how to do it with library.

[2016-09-13 01:09] HyukjinKwon commented on #177
Do you mean removing the prefix part (about namespace)? I think this is a duplicate of https://github.com/databricks/spark-xml/issues/168. Let me mark this as a duplicate just for management purpose. If you feel it is not a duplicate, I will remove this tag.

[2016-09-13 01:13] anayyar82 commented on #177
Yea , correct , so any tentative time to resolve it .

On Monday, September 12, 2016, Hyukjin Kwon <notifications@github.com>
wrote:

--
Thanks,
Ankur Nayyar,
9802194760

[2016-09-13 01:16] HyukjinKwon commented on #177
I will try to take a look again within this week. It seems pretty tricky though due to handling the namespace prefix in the `rowTag`.

[2016-09-13 06:05] somasundaramsekar commented on #169
@HyukjinKwon just tried, still the same, rows are being dropped

[2016-09-14 15:21] luissantanayh opened #178 "Class Not Found in https://community.cloud.databricks.com"
Hello everybody!

I am testing the library in the site https://community.cloud.databricks.com with the follow code:

[code]

and I have the following message:
**java.lang.ClassNotFoundException: Failed to find data source: com.databricks.spark.xml. Please find packages at http://spark-packages.org** in the line df = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='book').load(fil

[2016-09-14 16:22] #178 closed

[2016-09-20 19:45] shermilaguerra opened #179 "exception in explode with xml file"
I have xml file with alot parse,
I able to use "explode" to get data xml. it show exeption.
I read xml file
data = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='ARTIGOSPUBLICADOS').load("file:///home/cloudera/dayse2.XML")
data.printSchema()
root
|-- ARTIGOPUBLICADO: struct (nullable = true)
| |-- @ORDEM-IMPORTANCIA: string (nullable = true)
| |-- @SEQUENCIA-PRODUCAO: long (nul

[2016-09-20 20:07] shermilaguerra commented on #179
it is the xml
<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>

<CURRICULO-VITAE SISTEMA-ORIGEM-XML="LATTES_OFFLINE" NUMERO-IDENTIFICADOR="3543161568907178" DATA-ATUALIZACAO="23062016" HORA-ATUALIZACAO="161942">

	<DADOS-GERAIS NOME-COMPLETO="Dayse Silveira de Almeida" NOME-EM-CITACOES-BIBLIOGRAFICAS="ALMEIDA, D. S.;SILVEIRA DE ALMEIDA, DAYSE" NACIONALIDADE="B" PAIS-DE-NASCIMENTO="Brasi

[2016-09-21 01:53] anayyar82 commented on #168
If we add below logic,  i feel can resolve the problem.

import scala.xml._
val a = <a xmlns:ns1="www.ns1"><b/><b/><b/><ns1:b/></a>

A standard query would return simply all b elements:

a \ "b"
res0: scala.xml.NodeSeq = NodeSeq(<b xmlns:ns1="www.ns1"/>, <b xmlns:ns1="www.ns1"/>, <b xmlns:ns1="www.ns1"/>, <ns1:b xmlns:ns1="www.ns1"/>)

To query for the specific namespace, two options are possible.

[2016-09-21 14:24] shermilaguerra commented on #157
i has same problem.
Failed to parse a value for data type StructType.
i have xml about publications articles. This arquive  has alot parse.
I read xml file
data = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='ARTIGOSPUBLICADOS').load("file:///home/cloudera/dayse2.XML")

whenever  i to parse a value for data type it fails with exception:
data.select(explode(Data.ARTIGOPUBLICADO

[2016-09-22 14:19] anayyar82 commented on #177
Hello , did you check or any work around which we can use.

[2016-09-22 17:24] lokm01 commented on #171
This seems to be fixed by #161
There is however another bug which appeared after this PR on the same data when using compression codecs.

`
org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 123.0 failed 1 times, most recent failure: Lost task 1.0 in stage 123.0 (TID 131, localhost): java.lang.ArrayIndexOutOfBoundsException: 65536
[info] 	at org.apache.hadoop.io.com

[2016-09-22 22:47] HyukjinKwon commented on #171
Let's make a separate issue. I would appreciate if you open anither issue for this.

[2016-09-24 16:50] lokm01 commented on #171
Sure, no problem

[2016-09-24 16:50] #171 closed

[2016-09-24 16:51] lokm01 opened #180 "XmlInputFormat produces ArrayIndexOutOfBounds on compressed files"
How to reproduce:
1) Use large XML file (e.g the protein file from http://www.cs.washington.edu/research/xmldatasets/www/repository.html#pir )
2) Modify to remove whitespace between the closing and opening row tags (e.g )
3) Compress with bz2

org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 123.0 failed 1 times, most recent failure: Lost task 1.0 in stage 123.0 (

[2016-09-28 07:18] rajabhathor commented on #91
Hello enthusiasts, I am happy to note good activity here... :  ) as I am myself getting into ingesting a large amount of XML Credit Reports in XML at my work...
One issue I face is when compiling below code in Maven/Eclipse it fails saying "read" and hiveContext are deprecated... here's the code that fails...
val hiveSchema = hiveContext.read.format("com.databricks.spark.xml").option("rowTag", roo

[2016-09-28 07:41] kkarthik21 commented on #91
@rajabhathor what's your spark version?

[2016-09-28 08:30] rajabhathor commented on #91
spark 2.10. Karthik....

[2016-09-28 09:02] rajabhathor commented on #163
Thanks for the response.
I hope I can help make this evolving area more popular for wider use by the developer community

[2016-09-29 17:00] Esteban-De-la-Sexface opened #181 "Trying to use XmlInputFormat in pyspark"
I am trying to load an XML file using newAPIHadoopFile and it keeps throwing the following error from pyspark context

t com.databricks.spark.xml.XmlRecordReader.initialize(XmlInputFormat.scala:76)
    at org.apache.spark.rdd.NewHadoopRDD$$anon$1.<init>(NewHadoopRDD.scala:172)
    at org.apache.spark.rdd.NewHadoopRDD.compute(NewHadoopRDD.scala:130)
    at org.apache.spark.rdd.NewHadoopRDD.compute(

[2016-09-30 14:00] HyukjinKwon commented on #179
`explode` should be applied to `ArrayType` or `MapType` not against `StructType`.

[2016-09-30 14:07] HyukjinKwon commented on #181
Could you try this? (I haven't tried this but I think this should work).

[code]

[2016-09-30 14:10] shermilaguerra commented on #179
is there any function to get data from  xml with structType?
I was thinking to work with XSD instead with XML. Is there a difference between working with XML and XSD file?

[2016-09-30 14:14] HyukjinKwon commented on #179
@shermilaguerra Oh, yes, there is the issue here - https://github.com/databricks/spark-xml/issues/168

[2016-09-30 14:21] shermilaguerra commented on #179
is there any function to get data from xml  structType?

[2016-09-30 14:30] HyukjinKwon commented on #179
You could just access, for example, ``` selectExpr(`ARTIGOPUBLICADO.@ORDEM-IMPORTANCIA`) ```.

[2016-10-02 09:42] mmartsen opened #183 "Read nested XML tags"
Hi,
Is it possible to somehow read xml structure with nested tags like
`<book>
    <id>1</id>
    <book>
      <id>2</id>
    </book>
    <book>
      <id>3</id>
    </book>
</book>`

Specifying xpath would be great option.. Or maybe some additional parameters like level or rootTag for read function?

Thanks!

[2016-10-03 22:23] Sokrates80 commented on #156
Hello I'm experiencing a weird behaviour with the version 0.3.4 of the library (I'm using spark 1.6.2) and I think it might be connected to this issue.
Basically  I get an exception when trying to parse an xml containing a row with only a whitespace in the tag (in this case "<HNAME> </HNAME>"). I attached a the test file I used.

The exception is:
`scala.MatchError: </HNAME> (of class com.sun.xml.

[2016-10-04 10:11] kewlcherry opened #184 "Controlling partitions while reading xml files"
Hi,

I am asking this in the perspective of providing no of partitions while reading from textFile
val rdd= sc.textFile(“file.txt”,5)

Is there any option available while reading files using spark-xml as well, so that instead of taking default hadoop block size for partitioning, I can control based up on cores available in cluster from code itself.

Thanks,
Charan.

[2016-10-05 14:46] HyukjinKwon commented on #184
Currently, no. I recall there is an (kind of hidden) option in Spark. I will leave another comment after searching it soon.

[2016-10-05 15:22] kewlcherry commented on #184
It would really be of great help , please let me us know as we  are  underutilizing our cluster and is taking hit on time and performance as well

[2016-10-05 15:24] luissantanayh opened #185 "Try parser XML"
**I have this schema:**

root
 |-- _Id: string (nullable = true)
 |-- _versao: double (nullable = true)
 |-- autXML: struct (nullable = true)
 |    |-- CNPJ: long (nullable = true)
 |-- dest: struct (nullable = true)
 |    |-- CNPJ: long (nullable = true)
 |    |-- IE: long (nullable = true)
 |    |-- enderDest: struct (nullable = true)
 |    |    |-- CEP: long (nullable = true)
 |    |    |-- UF:

[2016-10-06 03:34] HyukjinKwon commented on #185
It seems critical. I just took a look and this case is possible in some cases when we should skip whole child elements. I will submit a PR now.

[2016-10-06 11:18] HyukjinKwon commented on #184
I just took a look. Maybe I think I meant `spark.sql.files.maxPartitionBytes` for increasing the number of partitions and `coalesce(...)` to reduce. Maybe, we could consider adding this option.

[2016-10-06 11:19] HyukjinKwon commented on #183
Yeap, this'd be an option. Maybe it'd be great if we have this support in a clean and sensible way.

[2016-10-06 15:41] luissantanayh commented on #185
Thank you very much for your answer. If you need something and I can to help. I am here.

Best regards.

[2016-10-07 13:57] VladAntropov commented on #168
I have this very specific issue now - every new file can arrive with a different namespace prefix. Ignoring the prefix would solve the problem for me, but in general the row tag may be appear in different namespaces only one of which defines a record. Then this approach will lead to an error. What about using an XML parser to find records? It could be given an XPath expression with namespace URI a

[2016-10-15 11:07] veludurai106 opened #187 "Spark XML - Issue in partitioning."
I am trying to load a single XML file of size 819.2 MB in spark stand-alone mode using spark xml. The file system is MapR-FS where the default chuck size is 256 MB so spark will create 4 tasks (256 MB, 256 Mb, 256 MB, 51.2 MB) (Correct me if I am wrong)

In the spark UI, I could see the Input size for each task. one of the task trying to load whole file because of that I am getting java.lang.OutOf

[2016-10-15 11:30] HyukjinKwon commented on #187
Hm, that looks indeed suspicious. As a workaround, maybe you could try to use `spark.sql.files.maxPartitionBytes` option in Spark (and I recommend bumping up the version to 0.3.4).
I will try to take a look when I have some times. Thanks for reporting this.

[2016-10-15 11:34] veludurai106 commented on #187
Thank you @HyukjinKwon  for prompt response. I will try both and revert back.

[2016-10-15 14:19] veludurai106 commented on #187
@HyukjinKwon . Tried both but no luck !!.

[2016-10-15 14:54] veludurai106 commented on #187
I used newAPIHadoopFile to load the same file, but this time the partition was even and no issue. I used TextInputFormat class in the place of XmlInputFormat.

`val file = sc.newAPIHadoopFile("maprfs:///path/to/xml",classOf[TextInputFormat], classOf[LongWritable], classOf[Text])
      file.foreach(f => println)`

[2016-10-16 10:21] Sokrates80 commented on #156
Hello, any help on that?

[2016-10-16 10:27] HyukjinKwon commented on #156
Oh, it's fine. I will merge the PR https://github.com/databricks/spark-xml/issues/182 after double checking. I appreciate for your help.

[2016-10-17 08:41] HyukjinKwon commented on #187
Do you mind if I ask how your data looks like? Does that have a large XML as each record (like hundreds MB)?

[2016-10-17 09:24] HyukjinKwon commented on #187
Otherwise, I just wonder if your file is bzip? (sorry for asking a lot).

[2016-10-17 09:45] veludurai106 commented on #187
I will explain the scenario.

1. I am getting a large xml file in zip format
`[mapr@maprdemo demo.mapr.com]$ file data.zip`
`data.zip: Zip archive data, at least v2.0 to extract
`
2. Using linux's unzip, I will extract it. The charset of the XML is UTF-16.
`[mapr@maprdemo demo.mapr.com]$ file data.xml`
`data.xml: Little-endian UTF-16 Unicode text, with very long lines, with no line terminators`

3

[2016-10-17 09:48] HyukjinKwon commented on #187
Oh, I see. Thank you for kind explanation.
Ah, then it seems the first task was failed to read a single record (820 MB) and the other tasks tried to skip the other blocks.
Wouldn't this meet your requirement if you set `rowTag` into inner element?

[2016-10-17 10:46] veludurai106 commented on #187
We have a use case where we need to find all the first level node from rootTag.

The requirement is, We have a predefined set of columns (rowTags) and we need to find any unknown columns in the XML.

For that we are reading the xml keeping same rootTag and rowTag.

`xmlDF = sqlContext.read.format("com.databricks.spark.xml").option(Constants.ROOT_TAG, rootElement).option(Constants.ROW_TAG, rootElem

[2016-10-17 10:52] veludurai106 commented on #187
Is it because of Default Row Separator \n ?

[2016-10-17 12:47] shermilaguerra opened #188 "how can I access column xml???????? Please help me is urgent"
I have simples xml file
I dont get the xml elements or xml column

I read the xml:
dgrem = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='provenance').load("file:///home/cloudera/Dataframe/Reconciliador-Sts2remoções.xml")
dgrem.show()

+--------------------+--------------------+
|                edit|              remove|
+--------------------+--------------------+
|[[null,15:1

[2016-10-17 13:04] shermilaguerra commented on #179
I do not ge the data with selectExpr(`ARTIGOPUBLICADO.@ORDEM-IMPORTANCIA`).
you can tell me? In  spark-xml reads the xml Datafram in front of the columns why it adds "@"??

[2016-10-17 13:05] HyukjinKwon commented on #188
You can access to them via wrapping the fields with backquotes.

If it is the problem with array, you might better take a look for `exclude()` function. Please see https://github.com/databricks/spark-xml/issues/141#issuecomment-234835577

[2016-10-17 13:29] shermilaguerra commented on #188
I try it: dgrem.selectExpr("explode(edit) as e").select("e.*").show()
but it show
 ++
||
++
||
||
||
||
++
how to do two explode?????

[2016-10-17 13:32] HyukjinKwon commented on #188
[code]

Hm, could you try this one?

[2016-10-17 13:35] HyukjinKwon commented on #188
If that does still not work, I guess that is related with https://github.com/databricks/spark-xml/issues/185. It seems a critical bug and I have a plan to bump up the version as soon as possible.

[2016-10-17 13:37] shermilaguerra commented on #188
I try
dgrem.selectExpr("explode(edit) as e").selectExpr("e.*").show()
++
||
++
||
||
||
||
++

[2016-10-17 13:42] HyukjinKwon commented on #188
Do you mind if I ask your data if possible?

[2016-10-17 13:44] shermilaguerra commented on #188
My data is simples:
<provenance>
 <remove objectName="Autor" targetContext="Título=Globally Hypoelliptic Systems Of Vector Fields;Ano=1993;Revista=Journal of Functional Analysis" status="" sourceContext="" sourceMetadata="" sourceOwner="" targetKeySet="Nome=Paulo CORDARO" sourceValue="" targetMetadata="" targetOwner="Adalberto Panobianco Bergamasco" targetValue="" sourceKeySet="" date="15:16:23@14

[2016-10-17 13:45] shermilaguerra commented on #188
<provenance>
 <remove objectName="Autor" targetContext="Título=Globally Hypoelliptic Systems Of Vector Fields;Ano=1993;Revista=Journal of Functional Analysis" status="" sourceContext="" sourceMetadata="" sourceOwner="" targetKeySet="Nome=Paulo CORDARO" sourceValue="" targetMetadata="" targetOwner="Adalberto Panobianco Bergamasco" targetValue="" sourceKeySet="" date="15:16:23@14/10/2016"/>
 <edit o

[2016-10-17 13:46] shermilaguerra commented on #188
My data is simple
`<provenance>
 <remove objectName="Autor" targetContext="Título=Globally Hypoelliptic Systems Of Vector Fields;Ano=1993;Revista=Journal of Functional Analysis" status="" sourceContext="" sourceMetadata="" sourceOwner="" targetKeySet="Nome=Paulo CORDARO" sourceValue="" targetMetadata="" targetOwner="Adalberto Panobianco Bergamasco" targetValue="" sourceKeySet="" date="15:16:23@14/

[2016-10-17 14:21] HyukjinKwon commented on #188
I will test this and be back tomorrow.

[2016-10-17 14:35] shermilaguerra commented on #188
Thank you so much for  your interest.  Best regards.

[2016-10-17 16:55] shermilaguerra commented on #188
Hi HyukjinKwon,  i get the  column xml in pyspark this ay:
dgrem.selectExpr("explode(edit) as e").selectExpr("e.@date").show()
Very thank you so much for all. Best regards.

[2016-10-17 20:06] martin-weber opened #190 "Error reading nested tags in Open StreetMap XML-Files"
Hello,

I try to parse Open Streetmap XML-Files using the latest spark-xml and pyspark (scala 2.11.8., spark 2.0.1 with jupyter notebooks as well with databricks community).

The xml data can be fetched using:
`wget -O winterthur_map.osm "http://overpass-api.de/api/map?bbox=8.6432,47.4579,8.8210,47.5442"`

Extracting the way-tags and realtion-tags works fine, but extracting the nodes throws the fo

[2016-10-18 03:49] HyukjinKwon commented on #190
I guess it is about schema not matching. Will try to reproduce this within this weekend and be back.

[2016-10-18 03:50] HyukjinKwon commented on #188
Could you please close this if everything is fine?

[2016-10-18 06:21] martin-weber commented on #190
Thanks. The second last script in the question returns the following inferred schema, which is what I used as starting point and as it failed added the _VALUE to the main "node" StructType, hoping that it will solve the problem... which is not the case.

The Script:
[code]
The Output:
[code]

[2016-10-18 13:10] #188 closed

[2016-10-19 14:07] martin-weber commented on #190
I think the problem is the XmlInputFormat which does not correctly detect elements which exist as empty element AND elements with subelements:

Empty Elements:
[code]

With Subelements:
[code]

I tried this with
[code]

which produces (scroll right to see the different lenghts of the lines.
It only detects lines ending with the configured endtag but not empty lines.
[code]

[2016-10-21 05:01] anshsachdeva opened #191 "Exception while tag is not found in xml"
I am extracting some tags from xml, but if that tag or hierarchy is not present in an xml, Is it possible to get null ? This Issue is not related to Issue 117 .. As  tag is present in xml schema but in my case this tag or hierarchy is not present in xml then not in xml schema ..

Appreciate for your Help.

Thanks
Ansh

[2016-10-24 07:17] deepakmundhada opened #192 "How to extract all individual elements from a nested WrappedArray from a DataFrame in Spark"
I'm using spark-xml to parse xml file. It creates a DataFrame with schema like below. How can I get all individual elements from MEMEBERDETAIL?

[code]

[code]

After trying many ways, I am able to get just "Any" object like below but again not able to read all fields separately.

[code]

And Schema for above "Any" element is like below -

[code]

[2016-10-24 07:21] HyukjinKwon commented on #192
I guess https://github.com/databricks/spark-xml/issues/141#issuecomment-234835577 might be helpful.

[2016-10-24 07:22] HyukjinKwon commented on #191
Could I please ask your sample codes and output maybe?

[2016-10-24 07:45] anshsachdeva commented on #191
![image](https://cloud.githubusercontent.com/assets/22814152/19637289/dbda8380-99eb-11e6-9275-92b02014389e.png)

[2016-10-25 12:21] deepakmundhada commented on #192
Above link was helpful. But my data is like below.

      <MEMBERHEADER>
        <MEMBER_NAME>SERVICES LIMITED</MEMBER_NAME>
        <MEMBER_ID>16253</MEMBER_ID>
        <INTERNAL_ID>16253</INTERNAL_ID>
      </MEMBERHEADER>
      <MEMBERDETAIL>
        <SLNO>1</SLNO>
        <INP_SOURCE_ID>0000000001</INP_SOURCE_ID>
      </MEMBERDETAIL>
      <MEMBERDETAIL>
        <SLNO>2</SLNO>
        <INP_SO

[2016-10-25 13:40] davidcrossland commented on #192
I have a similar issue, my schema is (well a portion), in fact this schema relates to a single column;

 |-- AirportDataList: struct (nullable = true)
 |    |-- AirportData: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- Airport: struct (nullable = true)
 |    |    |    |    |-- TACode: string (nullable = true)
 |    |    |    |    |-- AOCode: stri

[2016-10-26 00:33] HyukjinKwon commented on #192
@deepakmundhada Ah, yes. As far as I know, the order is as written in the file; however, I guess it is not encouraged idea to rely on the natural order.

[2016-10-26 00:33] HyukjinKwon commented on #192
@davidcrossland I guess that is related with https://github.com/databricks/spark-xml/issues/185 it seems critical. I will try to release another one soon although we have a very few fixes.

[2016-10-26 07:39] dennisthegitmenace opened #193 "Values for some columns are read as NULLs"
Currently i am facing this issue with Spark 2.0 built with Scala 2.11 and I am 100% sure it is a bug, because I ran the same code with Spark 1.6 (and respective version of spark-xml) and to an extent it worked fine.

I read my XML into a dataframe like so:
`df = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='dealer').load('file.xml')
df.printSchema()

`

So in the xml there are

[2016-10-26 08:39] davidcrossland commented on #192
Just to try and validate whether im being dumb..

So i imported the xml file using the outermost tag, this resulted in a bunch of columns as you would expect.

Inspecting the schema of a specific column results in this;

StructType(StructField(AirportDataList,StructType(StructField(AirportData,ArrayType(StructType(StructField(Airport,StructType(StructField(AirportIATACode,StringType,true), StructF

[2016-10-26 09:31] dennisthegitmenace commented on #185
I think [the issue](https://github.com/databricks/spark-xml/issues/193) i just created is very similar to this one.

[2016-10-26 09:32] dennisthegitmenace commented on #192
Confirm that i am facing the [same issue.](https://github.com/databricks/spark-xml/issues/193)

[2016-10-26 09:34] HyukjinKwon commented on #193
It'd be certainly a regression if something does work after upgrading. I appreciate it if you are able to share a bit of data and codes if possible.

Could I please ask if you are able to test that with the master branch one? Actually, #185 is fixed in the master (not in branch-0.3 yet).

[2016-10-26 09:37] HyukjinKwon commented on #193
BTW, I will release a new one within this week if that also fixes this issue.

[2016-10-26 09:58] dennisthegitmenace commented on #193
Attached is a sample data from a file i am working with. There are two dealer nodes. In one of them i removed the `cars` node on purpose - to see if it affects the way the code works
[2_dealers_xml.txt](https://github.com/databricks/spark-xml/files/552932/2_dealers_xml.txt)
. I was using `pyspark --packages com.databricks:spark-xml_2.11:0.4.0` when firing up the spark console, it seems to be the m

[2016-10-26 10:23] HyukjinKwon commented on #193
Ah, I meant the one in master branch (after manually building). Never mind. I will try to reproduce it and be back soon.

[2016-10-26 10:53] dennisthegitmenace commented on #193
Unfortunately i do not know how to build it from the master branch. What should i read on the topic? I would love to try

[2016-10-26 11:06] HyukjinKwon commented on #193
Oh, there is a (little) documentation in https://github.com/databricks/spark-xml#building-from-source :). Thanks for reporting this.

[2016-10-26 11:13] dennisthegitmenace commented on #193
Awesome. Thank you :)

[2016-10-26 15:39] dennisthegitmenace commented on #193
If you could give me a hint on how to do it - i will surely try doing that
myself. (Unfortunately i do not know how to do it :( )

On Wed, Oct 26, 2016 at 12:23 PM, Hyukjin Kwon <notifications@github.com>
wrote:

[2016-10-26 16:34] dennisthegitmenace commented on #193
I learned how to build a code from a master branch and ran the above code with above data but the result was the same. Do you get the same behavior?

[2016-10-27 06:53] anshsachdeva commented on #191
Any Luck ?

[2016-10-27 11:24] tonizzz opened #194 "failing with "blank" and nested values"
I'm having issues to process a file when under the structure it has a blank (**<![CDATA[]]>**). It doesn't work either, when providing schema or not. The schema identified is not correct , as it doesn't create an array and only maps the first picture. If i create a schema and use my schema to to the load, then, when reading the object pictures, it throws exception.

[code]

if we remove from the f

[2016-10-27 14:59] HyukjinKwon commented on #194
Thanks for reporting this. Will try this one and other issues as well on this weekend.

[2016-10-30 12:16] HyukjinKwon commented on #190
Oh, thanks for debugging closely! Yes, it is an issue. Maybe is this a duplicate of https://github.com/databricks/spark-xml/issues/92 ?

[2016-10-30 12:30] HyukjinKwon commented on #191
I am sorry. I think I didn't understand the issue clearly. So, you set `rowTag` to, for example, `ABC` for the XML you gave but you want to produce `null` for each `Address`?

[2016-10-30 12:34] HyukjinKwon commented on #193
Hm, it seems it works fine in my local.

I ran the codes below:

[code]

[code]

[2016-10-30 12:35] HyukjinKwon commented on #193
Let me try to validate this with Python API too. I am pretty sure this issue is related with https://github.com/databricks/spark-xml/issues/185.

[2016-10-30 12:40] HyukjinKwon commented on #194
Indeed, it seems suspicious. I will try to take a closer look.

[2016-10-30 16:02] dennisthegitmenace commented on #193
Yes. Otherwise will have to learn Scala ;)

On Sunday, 30 October 2016, Hyukjin Kwon <notifications@github.com> wrote:

[2016-10-31 08:11] tonizzz commented on #194
Thanks for looking at this!

If we get the schema from the "good" case and open the "bad" XML providing the schema manually, when trying to read the Dataframe (specifically the "pictures" field), it gives the exception below:

[code]

[2016-10-31 12:19] shermilaguerra commented on #192
I have the same issue.  The question was resolved ??

[2016-10-31 12:26] HyukjinKwon commented on #192
This was resolved in master I believe. Will release one soon. I apologise it has been postponed.

[2016-10-31 20:24] shermilaguerra opened #195 "How to extract all elements in column with "minus" please is urgent"
Please help me, i read the xml in pySpark
F1 = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='ARTIGOS-PUBLICADOS').load("file:///home/cloudera/BigPrInt/Fontes/AnaPaulaPeron.xml")
F1.show()
+--------------------+
|    ARTIGO-PUBLICADO|
+--------------------+
|[[2,[[null,Matem�...|
+--------------------+
F1.selectExpr("explode(ARTIGO-PUBLICADO) as e")
exeption: AnalysisException:

[2016-11-01 11:58] dennisthegitmenace commented on #192
Last week's master code (Wednesday, October 26th) didn't fix the issue for PySpark.

[2016-11-02 05:54] anshsachdeva commented on #191
Ok , I will make you understand again.  While filling address by user, user address can be completed in two lines and another user filled it in three lines.

User1 Xml
![image](https://cloud.githubusercontent.com/assets/22814152/19918036/674132f8-a0ee-11e6-86ae-d2fb8ba94950.png)

user2 xml
![image](https://cloud.githubusercontent.com/assets/22814152/19918047/7d80ffc6-a0ee-11e6-8f06-962375916ec0.pn

[2016-11-02 14:13] davidcrossland commented on #192
Any eta when the fix may be released?

[2016-11-03 10:57] someonehere15 opened #196 "Getting "null" when selecting second or futher columns"
Hi,

so I have e.g. the following XML file:
[code]
I load it into Spark through the DataBricks XML package, and everything looks good and loaded correctly.
When I try to select `first `or `first.a`, then I get the result correctly.

But if I try to get `second` or `second.b`, or `third` or `third.c`, then I get `null`.

I tried with a direct query, select function, everything, I don't know what th

[2016-11-03 11:27] HyukjinKwon commented on #193
Oh yes, I just found a bug. Thanks! will fix and then release another one. I just verified this via Python API.

[code]

[2016-11-03 11:30] dennisthegitmenace commented on #193
Cool. Thank you :)

[2016-11-03 12:09] HyukjinKwon commented on #192
I am planning it on this weekend. I will merge small fixes up more and then proceed some tests.

[2016-11-03 12:17] HyukjinKwon commented on #196
This should be fixed in the master I believe.

[2016-11-03 13:21] someonehere15 commented on #196
It's working now, thanks.

[2016-11-03 13:21] #196 closed

[2016-11-03 13:29] HyukjinKwon commented on #196
Thank you for reporting this!

[2016-11-04 10:15] dennisthegitmenace commented on #193
Whoop whoop, seems to work now :) Thank you 🎱

[2016-11-04 10:16] HyukjinKwon commented on #193
Thank you for reporting this!

[2016-11-05 00:00] someonehere15 opened #201 "Path to nested column not found"
I'm having an issue and I'm not sure if DataFrames are the problem or spark-xml. If it's a bug then I hope you fix it, otherwise I would really appreciate any help even if spark-xml is not the problem.

So, I have the following XML:
[code]
and I would like to get a table containing `path.to.atag.more.again.text`. I want them to be atomic, so it would need to be exploded to get a row for each `text

[2016-11-05 12:58] VishnuVR1988 opened #202 "Failed to load spark xml for Spark 2.0.1"
I have started shell using the command
**spark-shell --packages com.databricks:spark-xml_2.11:0.4.0**

While i am trying to load a file using spark.xml, i am getting the below error

[code]

[2016-11-05 17:00] tonizzz commented on #194
I have been playing around with the library over the weekend and I think i found something interesting... I changed the filter within the parser to filter the blank CDATA elements and seem to work with my files BUT only when inferring the schema. I have to test more extensively anyway. but in any case I'll share the code I modified with you as I'm very sure you'll come across with a much better so

[2016-11-05 22:44] someonehere15 commented on #201
Just adding here that for this structure:
[code]
the path teg.tag.sup.a works, and gives me:
`[WrappedArray(textA1, textA2), WrappedArray(textA3)]`
for the two levels of array, in `tag `and `a`. So I don't know why for the code above it doesn't.

In my script, I input the columns dynamically, and need to get a flattened table in the end. So basically, I need to flatten the complete XML file so tha

[2016-11-06 09:07] HyukjinKwon commented on #195
Can you try `F1.selectExpr("explode(`ARTIGO-PUBLICADO`) as e")` instead?

[2016-11-06 09:12] HyukjinKwon commented on #201
I guess this is related with https://github.com/databricks/spark-xml#structure-conversion . There is a limitation for converting XML structure to dataframe. Maybe we need to take flattening into account so that users can easily access to the data.

[2016-11-06 09:57] HyukjinKwon commented on #194
Yea, I think the approach seems okay although we should avoid relying on try/catch handling within critical path as possible as we can. I instantly think we might should avoid to deal with CDATA completely for now. Then we could make the condition simplified as below:

[code]

[2016-11-06 10:35] HyukjinKwon commented on #202
Hm.. it seems working fine with me.

[2016-11-06 10:52] HyukjinKwon commented on #193
I am closing this. Please reopen if this is not resolved and you still face this issue. Thanks again!

[2016-11-06 10:52] #193 closed

[2016-11-06 10:52] HyukjinKwon commented on #192
I am closing this. Please feel free to reopen if this is not resolved and you still face this issue. Thanks again!

[2016-11-06 10:52] #192 closed

[2016-11-06 10:53] HyukjinKwon commented on #185
I am closing this. Please feel free to reopen if this is not resolved and you still face this issue. Thanks again!

[2016-11-06 10:53] #185 closed

[2016-11-06 12:49] VishnuVR1988 commented on #202
I am running spark-shell on Windows 10 and also i am using the latest spark distribution.

[2016-11-06 13:15] Sokrates80 commented on #202
I guess you need to download and copy winutils.exe in the right path:
https://jaceklaskowski.gitbooks.io/mastering-apache-spark/content/spark-tips-and-tricks-running-spark-windows.html

On Sunday 6 November 2016, VishnuVR1988 <notifications@github.com> wrote:

[2016-11-06 16:24] someonehere15 commented on #201
Hey thanks for answering. So is there any chance to adapt it for flattening, or any way I can do it myself? The script I have implemented relies on dataframes and spark-xml, and I just now discovered that arrays are a problem. So it would really help me it there's any way to solve this. Its just a problem for repeatable tags which create arrays, and not for all the nesting, which can be navigated

[2016-11-07 08:49] tonizzz commented on #194
I agree with you, I also didn't like much the approach with Try. I'll give it a try anyway now that you are OK to do the change in the filter to give it a good solution and will open the PR as you suggest. Will try to have it done this week.
Thanks!

[2016-11-07 09:09] HyukjinKwon commented on #194
Yea, but I think we might have to look into this first in order to check if it is really okay to completely ignore them.. I worry if this affects any existing usage cases and breaks backwards compatibility due to this change. Of course, we can talk in the PR if you will open first :).

[2016-11-07 09:23] tonizzz commented on #194
This is what I need to test. I think the idea is to ignore CDATA only when it doesn't contain any data . My initial approach is doing that , ignoring all CDATA i think it's too much - we want the CDATA when they contain data.

[2016-11-07 09:28] HyukjinKwon commented on #194
Hm.. let me look into CDATA and how it is parsed deeper and be back!

[2016-11-07 12:02] shermilaguerra commented on #195
I  try: F1.selectExpr("explode(ARTIGO-PUBLICADO) as e")

it show exeption: AnalysisException: cannot resolve 'ARTIGO' given input columns ARTIGO-PUBLICADO;
it not recognize  "-" as letter it imagine as a minus sign.

[2016-11-07 12:26] HyukjinKwon commented on #195
Oh, it seems the mark-down went wrong. I meant,

[code]

[2016-11-08 16:04] someonehere15 opened #203 "Get filename when loading whole folder"
I couldn't find any option or solution to get the source filename when I load a complete folder.
Would this be possible without iterating separately every file manually?

[2016-11-08 23:01] HyukjinKwon commented on #203
Maybe, it sounds like you are looking for `input_file_name` function?

[2016-11-09 10:21] someonehere15 commented on #203
wow, great, yes. Thanks, and I'm very sorry for the apparently stupid question.
BTW, I have to say, you are the best developer ever, always ready to help, and quickly answer for that matter. I'm new to spark and python and you helped me a lot. Thanks again.

The function works, however I am having a few consequent issues, if you have time to take a look:

1. I want to get only the filename, not th

[2016-11-09 12:33] someonehere15 commented on #201
Just wanted to add here that I added some comments on #203 , subpoint 2, describing a similar issue.

[2016-11-09 15:09] shermilaguerra commented on #195
How to include these special characters, does explode function not recognized as a string?

[2016-11-09 15:58] someonehere15 commented on #201
So, an update:
I wrote the following python function to iterate through the schema and explode the arrays:
[code]
which only explodes when necessary, otherwise it doesn't change the dataframe. The problem is apparently I get a `heap out of space` error when executing it, even with only one xml file with few entries.

Could you please help me? As I said, if you could add an option to spark-xml to a

[2016-11-09 16:31] martin-weber commented on #190
It is not 100% the same as #92 because a schema can be derived as you can see in my posts. But it might be related, by having to the same root cause.

[2016-11-10 09:58] someonehere15 commented on #91
I see a big discussion here for a similar problem I have in #203 .
I iterated through the path and explode everything to eliminate arrays, but it is not the best way. Besides, I get an OOM error.

Anyone found any way to solve the nested array issue?

[2016-11-12 17:40] HyukjinKwon commented on #203
@someonehere15 Oh, IIRC, that should work fine from 1.6.3. Otherwise, that would return empty strings. BTW, nothing sounds stupid here really :). For the 2. i will take a look closely soon.

[2016-11-12 17:45] HyukjinKwon commented on #195
quoting the fields having special characters with `` will properly work fine.

[2016-11-12 19:26] shermilaguerra commented on #195
Please can you show me an example? How to include  "-", it to be  recognized as a string.

[2016-11-13 17:00] tonizzz commented on #194
Hey, did you look at it already or want me to proceed with the PR?

[2016-11-14 13:25] someonehere15 commented on #203
Thanks for answering.

I managed to create a function that iteratively explodes the columns. The one I posted on the other issue page was wrong, but I fixed it and it is working fine for now, until hopefully you can fix it directly in spark-xml.

I am still having problems with extracting the filename though. I have spark 2.1.0 and the latest build from spark-xml. If I call` input_file_name() `dir

[2016-11-14 13:27] HyukjinKwon commented on #203
@someonehere15 It sounds like a bug in Spark. Could I please ask the code snippet? I will try as well.

[2016-11-14 13:39] someonehere15 commented on #203
I tried even with a simple return and no processing:
[code]
and I save it as a udf:
[code]
and then select the filename column, and comes empty.
I also tried registering it:
`session.udf.register('filename',filename)`
but same thing.

To be honest I am trying this on Windows, so maybe that's a problem?
But then why would the `input_file_name()` function work separately but is not usable anywhere e

[2016-11-15 10:04] davidcrossland opened #204 "Trying to select values based off a condition"
I have a column with the following schema

|-- FuelHeader: struct (nullable = true)
 |    |-- AdditionalFuels: struct (nullable = true)
 |    |    |-- AdditionalFuel: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- CaptainCheck: string (nullable = true)
 |    |    |    |    |-- Duration: struct (nullable = true)
 |    |    |    |    |    |

[2016-11-15 10:54] HyukjinKwon commented on #204
Hi @davidcrossland, would https://github.com/databricks/spark-xml/issues/141#issuecomment-234835577 be helpful maybe?

[2016-11-17 12:49] someonehere15 opened #205 "Disable inferSchema and keep everything as String"
Would it be possible to add an option to disable type detection and save all parsed values as a string datatype?

[2016-11-18 10:47] luissantanayh commented on #185
Is this correct fix in the library from databricks?  The version in databricks is spark-xml_2.11-0.4.1.

Thank you

[2016-11-19 08:10] someonehere15 opened #206 "Use an RDD or Dataframe column with raw xml content as input for spark-xml"
Would it be possible to load the raw xml text of the files (without parsing) directly onto an RDD with e.g. wholeTextFiles(), maybe even convert the RDD to dataframe, so each row would contain the raw xml text of a file, and then use the RDD values or a Dataframe column as input for spark-xml?

**UPDATE:**
So, I have some XML files that I need to load onto a Spark DataFrame using `spark-xml`.
Howe

[2016-11-21 15:17] alexisaraya opened #207 "DataFrameReader object has no attribute 'select'"
I am trying to follow the example, but it gives me the following error
I load xml from Hadoop

`>>> df.select("author", "@id").write().format("com.
.option("rowTag", "book").save("newbooks.xml");`

`  File "<stdin>", line 1, in <module>
AttributeError: 'DataFrameReader' object has no attribute 'select'`

S.O Windows 7
Hadoop 2.7.1
Spark 1.6.4

Tranks for your help

[2016-11-21 15:35] HyukjinKwon commented on #207
It seems you forgot to call `load(...)` :) ?

[2016-11-21 16:24] alexisaraya commented on #207
HyukjinKwon brote. :

[code]
**pyspark.sql.readwriter.DataFrameReader object at 0x02853050>**
`df2.load('hdfs://localhost:9000/xml/books.xml')`
**DataFrame[@id: string, author: string, description: string, genre: string, price: double, publish_da
te: string, title: string]**
`df2.select("autor")`
**Traceback (most recent call last):
File "<stdin>", line 1, in <module>
AttributeError: 'DataFrameRea

[2016-11-21 16:42] HyukjinKwon commented on #207
Could you try this?

[code]

BTW, there are some critical bugs in lower versions. If possible, I would like to recommand to use higher one like 0.3.4

[2016-11-22 11:50] tanxinz opened #208 "How to Ignore XML comments like this"
It still loads , not ignore.How can I do .Thanks
[code]

[2016-11-22 17:46] shermilaguerra commented on #195
but whem i do with underscore not has problem.
the problem is    whem i  work  with "-" betwen  the string ARTIGO-PUBLICADO .
F1.selectExpr("explode(`ARTIGO-PUBLICADO`) as e") it has quoting the fields having special characters
with `` . grata. Shermila.

[2016-11-22 20:46] ivaradagit commented on #147
Hello, i am using "spark-xml_2.11-0.4.1.jar" in python and i am still having the same issue. Can you please help!

[2016-11-22 20:49] ivaradagit opened #209 "Using jar "spark-xml_2.11-0.4.1" with Python Error - org.apache.spark.sql.types.DecimalType$.Unlimited("
I am using the latest jar code with python. I try to parse the sample xml books.xml but i still run into the error:

: java.lang.NoSuchMethodError: org.apache.spark.sql.types.DecimalType$.Unlimited()Lorg/apache/spark/
sql/types/DecimalType;
        at com.databricks.spark.xml.util.InferSchema$.<init>(InferSchema.scala:50)
        at com.databricks.spark.xml.util.InferSchema$.<clinit>(InferSchema.s

[2016-11-23 00:35] HyukjinKwon commented on #209
It looks you are using Spark lower than 1.6.x? In that case, please try 0.3.4. Please refer https://github.com/databricks/spark-xml#requirements

[2016-11-23 00:36] HyukjinKwon commented on #208
Could I please ask the codes you tried?

[2016-11-23 00:37] HyukjinKwon commented on #203
I will try to take a look deeper on this weekend.

[2016-11-23 00:38] HyukjinKwon commented on #202
I am closing this. The exception messages exactly refers that the jar could not be found. If any of you is pretty sure that it is an issue in this library, please feel free to open another one or duplicate of this issue.

[2016-11-23 00:38] #202 closed

[2016-11-23 00:39] HyukjinKwon commented on #180
Thank you for reporting this. I will try to reproduce this soon.

[2016-11-23 01:20] ivaradagit commented on #209
Thank you for the response, i am using spark 2.0.1 (2x).

[2016-11-23 01:34] HyukjinKwon commented on #209
Then, it seems lower verion of this library is being referred because in 0.4.1, `Unlimited` is not being used in the line - https://github.com/databricks/spark-xml/blob/v0.4.1/src/main/scala/com/databricks/spark/xml/util/InferSchema.scala#L50

But, this is being used in 0.3.x - https://github.com/databricks/spark-xml/blob/v0.3.5/src/main/scala/com/databricks/spark/xml/util/InferSchema.scala#L50

[2016-11-23 01:38] HyukjinKwon commented on #209
I just downloaded the jar source spark-xml_2.11-0.4.1 and then manually checked the codes. It seems old jar is in the path.

[2016-11-23 02:08] ivaradagit commented on #209
Thanks again for the super quick response. Will you be able to checkin the new code. I will download it and rebuild it again.

[2016-11-23 06:00] Synesso commented on #190
I witness the same condition with OSM XML. In my case, I am mapping to case class.

[code]

The result is that any `node` with 1 or more child `tag`s are parsed. The result have values defaulting to zero. i.e. `Node(0, Point(0.0, 0.0))`

If I modify some of the input to be in the format `<node ...></node>` with no child tags, the process throws this exception:

[code]

[2016-11-23 14:15] tanxinz commented on #208
I change cars.xml like this .
<?xml version="1.0"?>
<ROWSET>
    <ROW>
        <year>2012</year>
        <make>Tesla</make>
        <model>S</model>
        <comment>No comment</comment>
    </ROW>
    <ROW>
        <year>1997</year>
        <make>Ford</make>
        <model>E350</model>
        <comment>Go get one now they are going fast</comment>
    </ROW>
    <ROW>
        <year>2015</year>

[2016-11-23 14:19] tanxinz commented on #208
I change cars.xml like this :
<?xml version="1.0"?>
<ROWSET>
    <ROW>
        <year>2012</year>
        <make>Tesla</make>
        <model>S</model>
        <comment>No comment</comment>
    </ROW>
    <ROW>
        <year>1997</year>
        <make>Ford</make>
        <model>E350</model>
        <comment>Go get one now they are going fast</comment>
    </ROW>
    <ROW>
        <year>2015</year>

[2016-11-23 14:22] tanxinz commented on #208
I change cars.xml like this :
<?xml version="1.0"?>
<ROWSET>
    <ROW>
        <year>2012</year>
        <make>Tesla</make>
        <model>S</model>
        <comment>No comment</comment>
    </ROW>
    <ROW>
        <year>1997</year>
        <make>Ford</make>
        <model>E350</model>
        <comment>Go get one now they are going fast</comment>
    </ROW>
    <ROW>
        <year>2015</year>

[2016-11-23 14:24] tanxinz commented on #208
I change cars.xml like this :
|   <?xml version="1.0"?>
|   <ROWSET>
|       <ROW>
|           <year>2012</year>
|           <make>Tesla</make>
|           <model>S</model>
|           <comment>No comment</comment>
|       </ROW>
|       <ROW>
|           <year>1997</year>
|           <make>Ford</make>
|           <model>E350</model>
|           <comment>Go get one now they are going fast</comment

[2016-11-23 14:27] tanxinz commented on #208
I change cars.xml like this :
`<?xml version="1.0"?>
<ROWSET>
    <ROW>
        <year>2012</year>
        <make>Tesla</make>
        <model>S</model>
        <comment>No comment</comment>
    </ROW>
    <ROW>
        <year>1997</year>
        <make>Ford</make>
        <model>E350</model>
        <comment>Go get one now they are going fast</comment>
    </ROW>
    <ROW>
        <year>2015</year>

[2016-11-23 14:28] ivaradagit commented on #209
Apologize for my earlier response, i did have a bad reference to an old jar 0.3. Thanks again!

[2016-11-23 14:32] tanxinz commented on #208
I change cars.xml like this :
[code]

Here is my python code:
./pyspark --master local[2]
--conf spark.driver.memory=2G
--packages com.databricks:spark-xml_2.11:0.4.1
[code]

[2016-11-23 14:39] tanxinz commented on #208
@HyukjinKwon
I am using spark2.0.2 and spark-xml_2.11:0.4.1
Regards

[2016-11-23 15:19] HyukjinKwon commented on #209
No problem :). Do you mind if I ask to close this issue if it is fine?

[2016-11-23 15:19] HyukjinKwon commented on #208
Thank you for details!

[2016-11-23 19:29] #209 closed

[2016-11-24 16:18] someonehere15 opened #210 "Are the parsed elements ordered on the DataFrame?"
Just like the title says, I wanted to check if the parsed elements from the XML file are saved in the same order on the DataFrame as the order of the tags on the XML, especially in the case of Arrays.

From what I checked myself manually, they appear to be ordered, but I wanted to ask here to be completely sure. So, is it safe to assume the elements (e.g. in a WrappedArray) have the same order as

[2016-11-25 08:55] HyukjinKwon commented on #210
Yes, they are. It saves each element as the parse meets. So, it follows the natural order. However, my gut tells me it might not be a good idea to rely on the natural order in most cases of batch processing though.

[2016-11-25 10:16] someonehere15 commented on #210
Thank you very much for the answer. I completely agree with you. But I have a very difficult xml structure to work with,  and the order of the tags are important for some reason. It is bad but it is what it is.

Anyway, this saves me a lot of work, so thanks.

[2016-11-25 10:16] #210 closed

[2016-11-27 09:28] HyukjinKwon commented on #205
It is not. Thank you for a suggestion.

[2016-11-27 14:37] edenfisher commented on #190
Any soulotion suggested to this issue?

[2016-11-27 15:02] HyukjinKwon commented on #190
I had a plan to sweep all issues in this library on this weekend but I was too busy. Will try to handle this within the next week.

[2016-11-29 06:47] paulcarey commented on #135
I might have some time to work on this if you're interested, and could outline how you think it should be done?

[2016-11-29 12:26] wpoosanguansit commented on #135
Thank you for your help.  However, we have long moved on to other works and not using Spark at all at the moment.  Thanks again.

[2016-11-29 14:44] HyukjinKwon commented on #135
Yeap, but we should fix this for other users :). Good to know someone is interested in this. Will try to give you some outlines here at my best soon.

[2016-11-29 16:13] tonizzz opened #211 "Parse row as failed when it contains chars not in defined charset"
I got the error below when processing an XML file and only one of the entries had an invalid UTF8 character. The whole DF was failed with exception as below:

[code]

I think code below should be changed to add Exception at the end , so any exception happens we don't throw away the whole XML file, but only the affected record:

StaxXmlParser:
[code]

[2016-11-30 07:54] HyukjinKwon commented on #203
@someonehere15 Yeap, I just tried and I was able to reproduce this as below:

[code]

[code]

[code]

[code]

I believe this is an issue in Spark itself. I will take a look deeper and leave a comment here with a JIRA.

[2016-11-30 08:04] HyukjinKwon commented on #203
BTW, it seems it is PySpark-specified problem.

[code]

[code]

[2016-12-01 02:41] HyukjinKwon commented on #135
Hi @paulcarey, we should extend `org.apache.spark.sql.execution.datasources.FileFormat` instead of [`PrunedScan`](http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.sources.PrunedScan) or [`TableScan`](http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.sources.TableScan) in the current implementation.

Please take a look at CSV/JSON datasource

[2016-12-01 06:27] rahultumane opened #212 "Unable to read the xml"
Hi,
I followed the same steps as you had mentioned, but was unable to get any output.
The code that I used is as follows:

./spark-2.0.2/bin/spark-shell --packages com.databricks:spark-xml_2.11:0.4.1

val sqlContext = SQLContext(sc)
val df = sqlContext.read.format("com.databricks.spark.xml").option("rowTag", "project").load("/path/abc.xml")
df.printSchema()

The Output I got is:
root

Kindly look

[2016-12-01 06:34] HyukjinKwon commented on #212
Do you mind if I ask your sample data please? I would like to reproduce this.

[2016-12-01 06:45] HyukjinKwon commented on #211
I see. Would we able to resemble CSV's way in Spark (https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/csv/CSVRelation.scala#L138) and use

[code]

instead for

[code]
?

BTW, there are similar logics `InferSchema` we should fix too.

[2016-12-01 06:47] HyukjinKwon commented on #211
Please go ahead and open a PR if you are interested in this and able to do this. It would be great if we check using `NonFatal` is safe ahead to doubly make sure and then leave some notes about this.

[2016-12-01 09:45] rahultumane commented on #212
<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Transaction xmlns:xsi="http://www.w3.org/2001/XMLSchema-CJCGCGCNNCNJCGinstance" xsi:noNamespaceSchemaLocation="3yfhPFFGSL_IS.xsd" >
	<UserID>targeedvmhvhed<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Transaction xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="3PLgxgmxhxfxhx_IS.xsd" >
	<UserI

[2016-12-01 10:18] rahultumane commented on #212
Above mentioned data is a just a small part of the file. Hope it will suffice your need.

[2016-12-02 13:51] donderom opened #213 "Load the whole xml as a row"
Is there any way to load the whole XML without specifying the `rowTag`?

[2016-12-02 14:17] HyukjinKwon commented on #213
I haven't tested this yet but I guess this works.

[code]

BTW, we might need an option for this.

[2016-12-02 14:22] NoOrdInaryGuy commented on #168
I've been thinking about this, and realise ignoring the prefix may not be as straightforward as it seems.

Despite the fact the [W3C XML Recommendation ](https://www.w3.org/TR/2008/REC-xml-20081126/#sec-common-syn) states that the colon character should not be used except for namespace purposes, column _is_ still an allowed character for element names in the XML spec.

I think this means you still

[2016-12-02 14:56] donderom commented on #213
Thanks, it works without specifying the `rowTag` explicitly however it does not include the top level element. For example (where `books` is the top level tag):

[code]

The general idea is it to be similar to how json works in Spark:

[code]
Any ideas how to overcome it?

[2016-12-02 16:43] HyukjinKwon commented on #213
Hm, yea, I understand it is a bit awkward. I ended up with doing as above, for example, due to the case below:

[code]

In this case, we can't convert this to ..

[code]

because as you see there are two separate root XML documents. It seems they are not directly compatible so it seems it had to have such a limitation.

If we have an option to deal with this case (assuming each file is each XML),

[2016-12-02 20:15] donderom commented on #213
Do you think adding a new option for such behaviour would be ok?

[2016-12-03 03:53] naveenreddy2811 opened #214 "Write XML from data frame.. not able to create array in datafram"
`val final_df = sqlContext.sql("select _xmlns, Date_Crt, Creator, struct(_ngr, _region, SetofValues) as Station from (select _xmlns, Date_Crt, Creator, _ngr, _region, struct(_dataType, _period, Value) as SetofValues  from (select _xmlns, Date_Crt, Creator, _ngr, _region, _dataType, _period, struct(_VALUE, _time) as Value from df_h a left outer join df_ds b on a.batchId = b.batchId left outer join

[2016-12-03 03:54] naveenreddy2811 commented on #214
XML format is noy coming correctly so attached the description along with XML format

[2016-12-05 06:23] rahultumane commented on #212
Please suggest something. I can't move forward without parsing this xml.

[2016-12-05 09:15] HyukjinKwon commented on #213
I am not too sure because it would break the current behaviour. BTW, I am just curious of your usecase and why the root element is needed. Maybe, we can build up a concrete reason to support to add the option with some reasonable usecases.

[2016-12-05 09:50] donderom commented on #213
One of the use cases is that the type of the XML message can be known only from its top level element, like the following: `<DeviceType><...></DeviceType>`. The inner structure of the message can be the same but the top level `DeviceType` tag can be different and it's crucial for business logic.

[2016-12-05 10:19] HyukjinKwon commented on #213
BTW, I just came up with a weird workaround as below:

[code]

[2016-12-05 17:57] tonizzz commented on #184
did anyone got how to improve performance by increasing parallelism ? i tried by modifying options below but still no luck :(

[code]

even default hadoop properties:

[code]

[2016-12-06 10:22] naveenreddy2811 commented on #214
@HyukjinKwon can you have a look at this and let me know where i am doing wrong..

[2016-12-07 13:43] donderom commented on #213
This trick would work, thanks!

[2016-12-07 22:02] anayyar82 commented on #168
Do we have any updates with Name space, or should we use custom XPATH expression.

Please suggest.

[2016-12-08 06:47] anshsachdeva commented on #214
I am not sure we can do this directly with spark-xml library itself. But i have found alternate solution(Hive UDF) by which i can make list of struct as what is your requirements

UDF (CollectUDAF) : [https://github.com/klout/brickhouse]

Thanks
Ansh

[2016-12-08 09:28] someonehere15 commented on #205
So I just wanted to add a follow-up question here: Can I disable inferSchema, as is possible on spark-csv, and leave everything as a String?

[2016-12-08 09:29] someonehere15 commented on #203
Good to know. thanks.

[2016-12-08 10:30] jvmlet opened #215 "Computed values using UDF and standard functions"
Hi
Is the  subject supported ?
This feature, besides other advantages, would help to resolve the issue with no-standard  date formats

[2016-12-08 10:32] jvmlet commented on #205
Have you tried to apply your schema explicitly ?

[2016-12-09 10:16] HyukjinKwon commented on #215
As this is just a third-party library, I believe you could use all the functionalities in Spark.

[2016-12-13 19:45] shermilaguerra opened #216 "It's a bit urgent, There is a problem on the condition join inner between two XML file with multiple attributes per tag"
good morning, please i need to do join inner  in  XML file(f1 and f2) with multiple attributes per tag in spark-xml.
Next query
`f1.join(f2).select("p1.DADOS_BASICOS_DO_ARTIGO.@TITULO_DO_ARTIGO", "p2.DADOS_BASICOS_DO_ARTIGO.@TITULO_DO_ARTIGO","p2.DADOS_BASICOS_DO_ARTIGO.@ANO_DO_ARTIGO", `"p2.DADOS_BASICOS_DO_ARTIGO.@PAIS_DE_PUBLICACAO").show()

it shows:
+--------------------+--------------------+

[2016-12-14 19:09] #216 closed

[2016-12-14 19:11] shermilaguerra opened #217 "There is a problem on the inner join CONDITION between two XML file with multiple attributes per tag"
Good morning!!
please, i am to do join inner in XML file(f1 and f2) with multiple attributes per tag in spark-xml.
Next query
f1.join(f2).select("p1.DADOS_BASICOS_DO_ARTIGO.@TITULO_DO_ARTIGO", "p2.DADOS_BASICOS_DO_ARTIGO.@TITULO_DO_ARTIGO","p2.DADOS_BASICOS_DO_ARTIGO.@ANO_DO_ARTIGO","p2.DADOS_BASICOS_DO_ARTIGO.@PAIS_DE_PUBLICACAO").show()

it shows very well:
+--------------------+----------------

[2016-12-15 08:06] HyukjinKwon commented on #217
@shermilaguerra Could I ask to try this with higher versions such as  0.4.1 for Spark 2.x or 0.3.5 for Spark 1.3+ please?

[2016-12-15 12:45] naveenreddy2811 opened #218 "How to write Value in an element that has no child elements but attributes and Value.. valueTag"
When i am trying to write DataFrame using XML, new attribute is being created for element that has no child elements but attributes and Value. In below example.

I am getting below output
`<Values VALUE="0.56" date="2015-11-25" time="16:15:00"></Values>`

Where as i am expecting as below.

`<Values date="2015-11-25" time="16:15:00">0.56</Values>`

which option need to be used for this?
does using

[2016-12-15 12:46] #214 closed

[2016-12-15 13:40] shermilaguerra commented on #217
I m using Spark 1.3

[2016-12-16 08:23] HyukjinKwon commented on #218
Ah, yes. it is related with `valueTag`.

You could do a roundtrip in reading and writing with the data below:

[code]

with the codes below:

[code]

or

[code]

It seems the default value of `attributePrefix` conflicts with `valueTag`'s `_`.

[2016-12-16 09:03] naveenreddy2811 commented on #218
Thanks @HyukjinKwon , it helped..

[2016-12-16 09:03] #218 closed

[2016-12-16 09:07] HyukjinKwon commented on #218
@naveenreddy2811 I will try to make a PR to prevent the conflicts. Thank you for reporting this.

[2016-12-16 09:47] naveenreddy2811 opened #219 "How to remove 'ROWS' while writing XML, I am using only 'rowTag' in options.."
I have below XML,

`<SeriesDataExchang xmlns="XMLSchemas/SeriesDataExchang" xmlns:md="XMLSchemas/SeriesDataExchang">
	<md:Creator>user_1</md:Creator>
	<md:Date>2015-11-26</md:Date>
	<Station reference="11111" >
		<SetofValues qualifier="Stage">
			<Value time="16:15:00">0.56</Value>
			<Value time="16:30:00">0.64</Value>
		</SetofValues>
	</Station>
	<Station reference="22222">
		<SetofValues qual

[2016-12-16 09:50] HyukjinKwon commented on #219
Oh, I see. It seems a bug due to structure conversion between XML and dataframe.

[2016-12-16 10:06] HyukjinKwon commented on #219
(note to myself) loosely related with https://github.com/databricks/spark-xml/issues/213, in particular the suggestion, https://github.com/databricks/spark-xml/issues/213#issuecomment-264472359

[2016-12-16 13:24] naveenreddy2811 commented on #219
I am able to retrieve root element attributes by making root element as rowTag option... if I am doing same While writing I am getting ROWS as as root element....  As per my dataframe schema if I could remove '<ROWS> </ROWS>' from file that would help.. Is there any option to avoid writing <ROWS> </ROWS>.

[2016-12-16 13:29] HyukjinKwon commented on #219
I am sorry for asking this but.. I think I could not understand clearly this sentence

Could I please ask to elaborate this a bit more?

[2016-12-16 14:39] naveenreddy2811 commented on #219
Sorry, missed this line...
`<ROWS> </ROWS>`.

Is there any option to avoid writing `<ROWS> </ROWS>`

[2016-12-16 14:44] tonizzz opened #221 "attribute names case sensitive?"
Hi ,

Seems like attribute names are case sensitive. I have an XML with below "Company" as first in capital and my case class attributes are all lower case and "company" attribute is mapped as null.

`<Company><![CDATA[My Company]]></Company>`

I can't find configuration related to define the xml attributes as case insensitive. Do you think is there a way?

thanks!

[2016-12-16 18:16] shermilaguerra opened #222 "how to write the CONDITION join in pyspark ?"
Good morning!!
please, i try  to do join inner in XML file(f1 and f2) with multiple attributes per tag in spark-xml in pySpark.
Next query
f1.join(f2).select("p1.DADOS_BASICOS_DO_ARTIGO.@TITULO_DO_ARTIGO", "p2.DADOS_BASICOS_DO_ARTIGO.@TITULO_DO_ARTIGO","p2.DADOS_BASICOS_DO_ARTIGO.@ANO_DO_ARTIGO","p2.DADOS_BASICOS_DO_ARTIGO.@PAIS_DE_PUBLICACAO").show()

it shows very well:
+--------------------+---

[2016-12-16 19:37] shermilaguerra commented on #222
from pyspark.sql.functions import col
result = f1.where(col("@ANO_DO_ARTIGO") == "2005").select(col("@TITULO_DO_ARTIGO"))

[2016-12-16 19:37] #222 closed

[2016-12-20 18:56] ayseyo commented on #140
Hi @HyukjinKwon :)
Firstly I'm really glad that you've suggested spark.read.xml(rdd) above, it would be awesome.

at #114 you have mentioned that XMLReader.scala will be deprecated. Is this still on the table? Will this api be deprecated soon?

Actually I need to analyse a json file which might include xml as json attributes. Since I don't want to save this attribute as intermediate xml files, I g

[2016-12-21 14:35] fpousserot commented on #191
define schema manually.. If you infer the schema automaticaly, the lib may not detect the line3 tag

[2016-12-22 01:18] anna19954 commented on #130
hello, I have met the same problem as you, can you give me an example of how to realize concurrency, I used scala, but I don't know what to do with it

[2016-12-27 08:19] skm235 opened #223 "Adds an option to disable schema inference"
I have the below sample xml.

<?xml version="1.0" encoding="UTF-8"?>
<root>
   <object1>
      <object_out1>
         <fields>
            <field>
               <innerfield>
                  <innerfield_code>ABC</innerfield_code>
                  <seat>054D</seat>
               </innerfield>
            </field>
         </fields>
      </object_out1>
   </object1>
   <object2>
      <object_o

[2016-12-27 08:48] skm235 commented on #223
<?xml version="1.0" encoding="UTF-8"?>
<root>
   <object1>
      <object_out1>
         <fields>
            <field>
               <innerfield>
                  <innerfield_code>ABC</innerfield_code>
                  <seat>054D</seat>
               </innerfield>
            </field>
         </fields>
      </object_out1>
   </object1>
   <object2>
      <object_out2>
         <fields>

[2016-12-27 09:30] HyukjinKwon commented on #223
I see. Would you be possible to work around as something like as below?

[code]

or maybe..

[code]

[2016-12-27 09:31] HyukjinKwon commented on #223
This introduces unused schema inference. Maybe, we need an option to disable it. Let me tag this as an enhancement. Would you mind if I ask to change the title to something like "Adds an option to disable schema inference" if you are fine with this title?

[2016-12-27 09:41] HyukjinKwon commented on #221
Yea, It is case sensitive. Actually, let me take out enhancement tag for now because I am not too sure if they should be supported or not. In Spark, JSON datasource also does not take care of if up to my understanding whereas CSV does.

[2016-12-27 09:45] HyukjinKwon commented on #102
I am closing this for now because I think we should not support this for now.

[2016-12-27 09:45] #102 closed

[2016-12-27 09:46] HyukjinKwon commented on #16
I am closing this for now. Please reopen or request opening this if anyone meets this issue.

[2016-12-27 09:46] #16 closed

[2016-12-27 09:47] HyukjinKwon commented on #105
This was fixed in the JIRA.

[2016-12-27 09:47] #105 closed

[2016-12-27 09:48] HyukjinKwon commented on #113
Let me close this for now. We have #42 which will cover this issue. Please feel free to reopen or request opening if anyone feels differently.

[2016-12-27 09:48] #113 closed

[2016-12-27 09:49] HyukjinKwon commented on #123
This was changed in the PR.

[2016-12-27 09:49] #123 closed

[2016-12-27 09:50] HyukjinKwon commented on #131
I am closing this for now. Please feel free to reopen if you still face this issue.

[2016-12-27 09:50] #131 closed

[2016-12-27 09:53] HyukjinKwon commented on #139
https://github.com/databricks/spark-xml/issues/223#issuecomment-269300526 here I wrote some workrounds. I will close this for now because it seems #223 covers this issue.

[2016-12-27 09:53] #139 closed

[2016-12-27 09:54] HyukjinKwon commented on #139
Please feel free to reopen if you think we should leave this open.

[2016-12-27 09:56] HyukjinKwon commented on #141
I am closing this it seems these work find fortunately.

[2016-12-27 09:56] #141 closed

[2016-12-27 09:56] HyukjinKwon commented on #155
I am closing this for now. It seems a duplicate of it. Please feel free to reopen if you think this is a different issue with this.

[2016-12-27 09:56] #155 closed

[2016-12-27 09:58] HyukjinKwon commented on #215
I am closing this for now. Please feel free to reopen this if you can't use Spark's UDF and etc.

[2016-12-27 09:58] #215 closed

[2016-12-27 10:00] HyukjinKwon commented on #207
I think this was mistake ;). Please feel free to reopen this if you still face this issue. I am closing this for now.

[2016-12-27 10:00] #207 closed

[2016-12-27 10:01] HyukjinKwon commented on #223
Ah, actually, this turns to a duplicate of https://github.com/databricks/spark-xml/issues/205 I think.

[2016-12-27 10:02] HyukjinKwon commented on #205
Yea, the best way is to give the schema explicitly. BTW. If we want to avoid only type inference, then it seems it goes in a problem in some cases like `inferSchema` option in CSV datasource.

[2016-12-27 10:08] HyukjinKwon commented on #181
I believe this is rather a Spark problem if it does not work. Let me close this for now. Please feel free to reopen this if you face still this issue.

[2016-12-27 10:08] #181 closed

[2016-12-27 10:20] skm235 commented on #223
Thanks for your help. wow. The workaround really worked. Please go ahead and rename it like "Adds an option to disable schema inference".

[2016-12-27 10:22] jvmlet commented on #215
I'll provide more details and let you decide if you want to have  this feature built-in, or not.
I'm using the `spark-xml` with provided schema to disable the schema auto-discovery and gain performance. One field of the schema has `TimestampType` type, but the value uses non-standard format, example : `2016-05-16T14:14:02`.
Out-of-the-box invocation fails with complain that value `2016-05-16T14:14

[2016-12-27 10:24] skm235 opened #224 "is there any way to refer XSD as a schema reference to process xml messages ?"

[2016-12-27 11:40] skm235 commented on #223
can i store the generated schema in a file and use it like .avsc for avro  to parse the xml document ?

[2016-12-28 17:50] ravimn opened #225 "Error trying to save dataframe"
Hi,

I have a Hortonworks Hadoop cluster that is running spark v1.6.2 and HDP v2.4.2.  I have an xml file in hdfs which is read successfully using the library.  I am using spark-xml 2.10-0.4.1.  However I am getting an error trying to write the dataframe back to file or hdfs.

Below is the code I used.

package com.fanniemae.bigDataRecon

import org.apache.spark.SparkContext
import org.apache.spar

[2017-01-02 11:46] naveenreddy2811 commented on #219
@HyukjinKwon Can we add something like below as an option for write dataframe to XML.

`val rootTagReq = parameters.getOrElse("rootTagReq", XmlOptions.DEFAULT_ROOT_TEST)
 var indentedXml = ""
 if (rootTagReq.toUpperCase().equals("NO")){
     firstRow = false
     lastRow = false
     indentedXml = xml
 } else {
      indentedXml = indent + xml.replaceAll(rowSeparator, rowSeparator + indent)
 }`

a

[2017-01-04 01:04] HyukjinKwon commented on #225
It looks due to version mismatch. Could you try 0.3.x for Spark 1.3.x+?

[2017-01-04 01:04] HyukjinKwon commented on #225
Please take a look at https://github.com/databricks/spark-xml/tree/branch-0.3

[2017-01-12 14:30] someonehere15 commented on #203
Just FYI, I added on the JIRA ticket that I continue to have the same problem on pySpark 2.1.0, and some additional issues.

[2017-01-13 17:27] frascuchon commented on #180
Using one core works well . I think is related with [https://issues.apache.org/jira/browse/HADOOP-10614](url)

[2017-01-16 09:08] someonehere15 commented on #203
Hello again,

just FYI,  I posted on the JIRA ticket from above that the problem is still present specifically when using spark-xml.

[2017-01-16 10:10] someonehere15 opened #226 "Input filename for files in archives"
If I load the XML files from a folder, I get the source filename for each row through `input_file_name()`, but if I load the XML files from an archive (bz2 in my case), I get the same archive name for all the entries. Would it be possible for `input_file_name()` to show the source filenames from inside the archive here too, just like as if it was loading from a folder?

[2017-01-16 10:14] HyukjinKwon commented on #226
I don't think it is possible.. let me update you if I get a better answer.

[2017-01-16 10:14] HyukjinKwon commented on #203
Thank you for your update.

[2017-01-18 15:39] shermilaguerra opened #227 "null value still not correctly parsed in PySpark"
I update my packages  with spark-xml_2.10:0.4.1
now, i cant see value in nested struct

[code]

i do:
[code]
[code]

[2017-01-18 15:41] HyukjinKwon commented on #227
Do you mind if I ask your data please? I would like to reproduce.

[2017-01-18 15:47] shermilaguerra commented on #227
Of course, it is big...
<?xml version="1.0" encoding="ISO_8859_1"?>
   <CURRICULO_VITAE xmlns:lattes="http://www.cnpq.br/2001/XSL/Lattes" DATA_ATUALIZACAO="05082009" HORA_ATUALIZACAO="140542" SISTEMA_ORIGEM_XML="LATTES_OFFLINE" owner="Ana Paula Peron" >
      <DADOS_GERAIS NOME_COMPLETO="Ana Paula Peron" DATA_NASCIMENTO="12041970" NOME_DO_PAI="Valdecir Peron" UF_NASCIMENTO="SP" CIDADE_NASCIMENTO="

[2017-01-18 17:04] shermilaguerra commented on #227
I made a small example. Even so, my code does not show data:
`F3 = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='ARTIGOS_PUBLICADOS').load("file:///home/cloudera/BigPrInt/Fontes/t3.xml")
F3.printSchema()
F3.show()

f3=F3.selectExpr("explode(ARTIGO_PUBLICADO) as e").select("e.DADOS_BASICOS_DO_ARTIGO._PAIS_DE_PUBLICACAO").show()`

file xml
`<ARTIGOS_PUBLICADOS>
            <ARTI

[2017-01-18 17:20] shermilaguerra commented on #227
maybe it is  struct (containsNull = true)??
root
 |-- ARTIGO_PUBLICADO: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- AREAS_DO_CONHECIMENTO: struct (nullable = true)
 |    |    |    |-- AREA_DO_CONHECIMENTO_1: struct (nullable = true)
 |    |    |    |    |-- _NOME_DA_AREA_DO_CONHECIMENTO: string (nullable = true)
 |    |    |    |    |-- _NOME_DA_ESPECIALI

[2017-01-20 02:33] HyukjinKwon commented on #227
It seems because empty string `""` in `LongType` field.  Could you try to set `nullValue` to `""`?

[code]

[code]

[2017-01-20 02:36] HyukjinKwon commented on #227
It seems either

  - we should set the default value to `nullValue`
  - add an option to disable schema inference that defaults to `StringType`
  - take a look at schema inference as I think it should have been `StringType` in a quick look for me.

[2017-01-20 02:37] HyukjinKwon commented on #227
@shermilaguerra BTW, could you please fix the issue title so that other readers/users like you could refer the answer and question here?

[2017-01-20 02:42] HyukjinKwon commented on #224
Currently, it does not have a functionality for it. Feel free to open a PR for this.

[2017-01-20 02:49] HyukjinKwon commented on #194
I am sorry for late response.. I was busy for Spark testing stuff and preparing a presentation/demo for my company...  Could you please give a shot if you are okay?

[2017-01-20 16:10] shermilaguerra commented on #227
Hi, Hyukjinkwon!!
Thank you for solving in scala. But I'm programming In PySpark.
I try to read
F9 = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='ARTIGOS_PUBLICADOS').options('NULL', '').load("file:///home/cloudera/BigPrInt/Fontes/AnaPaulaPeron_v1.xml")
it show Erro:
 TypeError: options() takes exactly 1 argument (3 given)

I can’t thank you enough for everything you’ve done!

[2017-01-20 18:27] shermilaguerra commented on #227
Hi, Hyukjinkwon!!
I try next code, it is same problem
F9 = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='ARTIGOS_PUBLICADOS', nullValue='null').load("file:///home/cloudera/BigPrInt/Fontes/AnaPaulaPeron_v1.xml")

F9.printSchema()
F9.show()

F9.selectExpr("explode(ARTIGO_PUBLICADO) as e").select("e.*").show()
+---------------------+-------+-----------------------+---------------

[2017-01-20 23:45] HyukjinKwon commented on #227
Ah, you were using PySpark. It should be fine if you give `""` for `nullValue` option.

[2017-01-21 08:37] shermilaguerra commented on #227
Hi, Hyukjinkwon!!
please help me. I need to finish my work. I'm late.
It is:
F99 = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='ARTIGOS_PUBLICADOS', nullValue="null").load("file:///home/cloudera/BigPrInt/Fontes/AnaPaulaPeron_v1.xml")

It does not work.
best regards.
Shermila.

[2017-01-22 06:08] skm235 commented on #224
I am sorry. Don't know how to do it.

[2017-01-23 15:55] shermilaguerra commented on #227
Hi, Hyukjinkwon!!
please help me.
Please, I urgently need to pass this stage.
Very thranks.
Sher

[2017-01-23 16:19] shermilaguerra opened #229 "How to Encode UTF-8 for Dataframe"
Hi!
please, maybe you can help me.
How to encoding output to UTF-8, there are wrong values.

`coDf=Df.selectExpr("explode(copy)` as e").select("e._sourceOwner", "e._targetOwner","e._sourceKeySet", "e._targetKeySet", "e._sourceMetadata", "e._targetMetadata", "e._sourceValue", `"e._targetValue").show()`

|   _sourceOwner|        _targetOwner|       _sourceKeySet|       _targetKeySet|   _sourceMetada

[2017-01-23 18:24] shermilaguerra commented on #227
it is right
F999 = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='ARTIGOS_PUBLICADOS', nullValue="").load("file:///home/cloudera/BigPrInt/Fontes/AnaPaulaPeron_v1.xml")

[2017-01-23 18:25] #227 closed

[2017-01-24 15:33] shermilaguerra opened #230 "how to show the column after to do join XML with multiple attributes per tag"
hi!!

I'm in the final stage of my PhD on spark xml with bibliographical data, my deadline to defend ends in April, I need your help.
in last version spark-xml Its works very well.
f1.join(f2).select("p1.DADOS_BASICOS_DO_ARTIGO.@TITULO_DO_ARTIGO", "p2.DADOS_BASICOS_DO_ARTIGO.@TITULO_DO_ARTIGO","p2.DADOS_BASICOS_DO_ARTIGO.@ANO_DO_ARTIGO","p2.DADOS_BASICOS_DO_ARTIGO.@PAIS_DE_PUBLICACAO").show()

it

[2017-01-24 16:32] shermilaguerra opened #231 "explode in xml spark"

[2017-01-24 16:56] shermilaguerra commented on #229
Hi!!! please can you help me,
I've been trying to process a textfile with Python.
I've tried to fix this bug for 3 hours, but haven't found anything really useful.
Can anyone tell me why the decode function not works?
my code is:
import os, sys
import codecs
reload(sys)
sys.setdefaultencoding('utf-8')

coDf=Df.selectExpr("explode(copy) as e").select("e._sourceOwner", "e._targetOwner",("e._sourceKe

[2017-01-25 13:39] someonehere15 commented on #205
Same as OP of #223 , I also have a complex XML dataset and a dynamic schema on each run, so passing  a Schema explicitly is not an option for me. Creating a function as shown in #223 would require to load the files twice, which is a problem in my case because there are a lot of files. On the other hand, I would also need to adapt it for python, which I'm not sure exactly how to do it from the scal

[2017-01-25 13:50] HyukjinKwon commented on #205
I think we need this, at least, per use cases reported so far. I think it is not going to release soon though. Let me try to fix these and try to make a release at my best.

[2017-01-25 14:00] someonehere15 commented on #205
Thank you very much, it would help me a lot.
I was thinking to change the inferSchema code to always return StringType or something like that, but if you could provide a better release, I would really appreciate it. Thanks again.

[2017-01-29 08:07] #231 closed

[2017-01-29 08:26] #230 closed

[2017-01-29 08:30] shermilaguerra opened #233 "How to save a dataframe in xml format?"
Hi!!
How to save a pyspark sql DataFrame in xml format
I read xml  data in  pyspark. it transform in dataframe,  then in it made a transformation.
 Now I want to save it as xml format.
How can I do this?
Solution for directly saving the pyspark sql dataframe in xml.
 Thanks in advance.
sher

[2017-01-30 19:44] shermilaguerra opened #234 "error to apply explode array in xml"
In the first level when using "explode" in "ARTIGO_PUBLICADO" it works(please see schema).
When I use "explode" with the column "AUTORES" also it works.
But when I want to use it in the other columns it does not work, it show: due to data type mismatch: input to function explode should be array or map type, not StructType

dfx_2 = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='

[2017-02-02 12:55] HyukjinKwon commented on #233
You could do something like the one below I guess

[code]

[2017-02-02 12:57] HyukjinKwon commented on #229
I guess you could have a good answer if you ask this to Spark user mailing list. It seems related with `.encode("utf-8")` functionality in Spark.

[2017-02-03 22:04] harrisonmebane opened #235 "Failed type cast with provided schema causes all fields to be null"
When providing a schema, if the schema specifies a type for a field, and that field has a value that cannot be cast to that type, all fields in the resulting DataFrame are null.  The example below is minimal, but I observed the same error with an XML of thousands of lines; a single incorrect type caused the entire DataFrame to be populated with nulls.  This is `spark-xml` version `0.3.5`, on Spark

[2017-02-04 00:04] HyukjinKwon commented on #235
Thanks for detailed explanation. Will take a look soon in more details.

[2017-02-08 04:45] hariramesh9a commented on #157
Is this issue resolved? I had a similar issue and got it resolved .. it seems I was trying to explode struct of arrays..

[2017-02-09 15:50] kkaduk opened #236 "The fields with extra whitespaces have correctly passed through the XML validation against their correct types (xsd:double, xsd:dateTime, etc) but fail during parsing in spark-xml"
Elements in xml document for example  &lt; tagA &gt; 12.33  &lt; /tagA &gt; (trailing or leading spaces ) are not correctly converted with exception:
java.lang.NumberFormatException: For input string: "  12.33   "
        at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
        at java.lang.Long.parseLong(Long.java:441)

Also kills the spark executor and fails the e

[2017-02-10 00:26] HyukjinKwon commented on #236
Thanks for reporting this.

[2017-02-11 13:45] HyukjinKwon commented on #234
It seems the error as said,

[code]

It seems `AREAS_DO_CONHECIMENTO` is `StructType`. It seems `explode` should be applied with `ArrayType` or `MapType`.

[2017-02-15 11:07] carloallocca opened #238 "Failing accessing to nested values."
Dear All,

I would like to report an issue when parsing an XML file.

More specifically: given the following XML data structure:

xocs:doc
 |-- xocs:item: struct (nullable = true)
 |    |-- bibrecord: struct (nullable = true)
 |    |    |-- head: struct (nullable = true)
 |    |    |    |-- abstracts: struct (nullable = true)
 |    |    |    |    |-- abstract: struct (nullable = true)
 |    |    |

[2017-02-15 22:09] tsusanto opened #239 "infer schema"
I know I can provide a schema but it's fairly complex and it will be a lot of typing,  the inferred schema is actually mostly fine except for 1. It should have been inferred as a string but instead it inferred it as an int data type so all the leading zeros were dropped. All values actually have leading zeros.

Is it possible to make it infer it as a string?

[2017-02-15 22:19] HyukjinKwon commented on #238
Thanks for reporting this. Let me take a look soon.

[2017-02-16 00:18] HyukjinKwon commented on #239
Ah, I guess it is a duplicate of #205 per requests of this feature, I am willing to add this. Let me open a PR soon and then discuss there further. Thanks for opening this issue.

[2017-02-16 00:51] tsusanto commented on #239
ok thanks!

[2017-02-16 17:08] shermilaguerra opened #240 "error when I read the xml data with SparkSession in spark 2.0"
Hi
There is an error when I read the xml data  with SparkSession  in spark 2.0 after to install the package
from pyspark.sql import SparkSession
spSession = SparkSession.builder.master("local").appName("exemplo-xml").config("spark.some.config.option", "some-value").getOrCreate()
dfx_1 = spSession.read.format('com.databricks.spark.xml').options(rowTag='ARTIGOS_PUBLICADOS').load("ValdirAntonio Meneg

[2017-02-18 16:11] #240 closed

[2017-02-18 16:13] shermilaguerra commented on #240
the code is right . The erro Was on the scale version when installing the package

[2017-02-18 16:13] HyukjinKwon commented on #240
Thanks for investigating and confirming.

[2017-02-18 17:58] shermilaguerra commented on #234
hi,
for struct to use explode. For array element that:
ArtPublicadodf.select(ArtPublicadodf.AUTORES._NOME_COMPLETO_DO_AUTOR).show()
there are another way?
best regards!
Sher

[2017-02-18 18:29] HyukjinKwon commented on #238
@carloallocca, are you maybe able to share `/Users/carloallocca/Desktop/Spark Material/63449138399.xml` file or the sample of it?

[2017-02-18 18:31] HyukjinKwon commented on #238
Let me try to test with  ...

[code]

but please let me know this is different.

[2017-02-18 21:08] carloallocca commented on #238
Uhhh..I cannot share it here as it is, unfortunately. I am  happy to send a version of it with fake data but with the same complexity. The xml file contains many nested, it is quite complex one.
[63449138399fake.xml.zip](https://github.com/databricks/spark-xml/files/785324/63449138399fake.xml.zip)

[2017-02-18 21:14] carloallocca commented on #238
Hi Hyukjin,  
Thanks. The structure is a bit different. I sent you a zip file containing the right one. I had to change it and put some fake data. 
This is the level on nesting to get the abstract: 
xocs:doc/xocs:item/item/bibrecord/head/abstracts/abstract/ce:para

Many Thanks,Best Regards,Carlo 
Please, let me know if you received it. 

    Il Sabato 18 Febbraio 2017 18:31, Hyukjin Kwon <notifica

[2017-02-18 21:15] carloallocca commented on #238
This is the new path

xocs:doc/xocs:item/item/bibrecord/head/abstracts/abstract/ce:para

[2017-02-19 00:08] HyukjinKwon commented on #238
Thank you!

[2017-02-19 08:19] HyukjinKwon commented on #238
Hi @carloallocca, it seems working okay in the master

[code]

[code]

Do you mind if I ask which version you are using?

[2017-02-19 12:42] carloallocca commented on #238
Many Thanks Hyukjin, 
I am using the following:
<dependency>            <groupId>elsevierlabs-os</groupId>            <artifactId>spark-xml-utils</artifactId>            <version>1.4.0</version>        </dependency>

What about you?Please, could you let me know?
Many Thanks in advance.Carlo

    Il Domenica 19 Febbraio 2017 8:19, Hyukjin Kwon <notifications@github.com> ha scritto:

 Hi @carloalloc

[2017-02-19 12:44] carloallocca commented on #238
sorry this one:
<dependency>            <groupId>com.databricks</groupId>            <artifactId>spark-xml_2.10</artifactId>            <version>0.4.0</version>        </dependency>

    Il Domenica 19 Febbraio 2017 12:42, Carlo Allocca <carloallocca@yahoo.it> ha scritto:

 Many Thanks Hyukjin, 
I am using the following:
<dependency>            <groupId>elsevierlabs-os</groupId>            <artifa

[2017-02-19 12:58] carloallocca commented on #238
I have just realised that the note above is not readable.
The version that I am using is the following:

<dependency>
            <groupId>com.databricks</groupId>
            <artifactId>spark-xml_2.10</artifactId>
            <version>0.4.0</version>
        </dependency>

[2017-02-19 12:59] carloallocca commented on #238
which version did you use for your test?if you do not mind

[2017-02-19 13:39] HyukjinKwon commented on #238
Maybe are you able to test this with 0.4.1?

[2017-02-21 15:02] jzhao415 opened #241 "Double Closing Tag are created for self closing element when using custom schema as StringType"
Hey,

I recently encounter a bug when I have to use custom schema to define some elements as StringType. And if the child element has self-closing tag, the String value of element be change to beginning tag, closing tag and closing tag, breaking the XML format.

partial input xml:
<?xml version="1.0"?><catalog><book id="bk101"><stringcontent><title>XML Developer's Guide</title><genre>Computer</gen

[2017-02-26 21:59] shermilaguerra commented on #229
Maybe you can tell me the group?

[2017-02-26 22:21] shermilaguerra opened #242 "How I can to generalize xml reading in pySpark"
Hi!!
Please maybe you can help me.
I would like to rewrite this function, it is  in scala to PySpark.

def children(colname: String, df: DataFrame) = {
  val parent = df.schema.fields.filter(_.name == colname).head
  val fields = parent.dataType match {
    case x: StructType => x.fields
    case _ => Array.empty[StructField]
  }
  fields.map(x => col(s"$colname.${x.name}"))
}

 in pyspark  i dont

[2017-02-28 19:24] shermilaguerra commented on #234
Why when I retrieve data from an array, it shows me in the brackets?

dAna2=dfArtPublicadosA.select(dfArtPublicadosA.AUTORES._NOME_COMPLETO_DO_AUTOR, dfArtPublicadosA.AUTORES._NOME_PARA_CITACAO, dfArtPublicadosA.AUTORES._ORDEM_DE_AUTORIA).collect()

	NOME_COMPLETO_DO_AUTOR 	NOME_PARA_CITACAO 	ORDEM_DE_AUTORIA
0 	[Valdir Antonio Menegatto, Ana Paula Peron] 	[MENEGATTO, V. A., PERON, A. P.;Peron, An

[2017-03-02 21:47] #234 closed

[2017-03-04 16:16] HyukjinKwon commented on #241
Thank you for reporting this. Let me check this out soon.

[2017-03-10 18:52] harrisonmebane opened #244 "XML will not parse when reading from Kafka unless rowTag is the highest-level tag"
We noticed this when reading XML from Kafka where `rowTag` was set to a tag other than the highest tag in the document.  For example, in
[code]
If we set the `rowTag` to `topLevel`, everything parses fine.  If we instead set it to `nextLevel`, we get a DataFrame with a single null value.

We do not notice this behavior when reading from files, only reading from RDD (from Kafka).  We are using Spar

[2017-03-11 10:10] dtungbmw commented on #91
Hi all,
I used explore in spark 1.6 and it works, but I got performance issue, it can't handle a faster data feed. Do we have performance improvement in spark 2.x?

Best

[2017-03-15 07:56] HyukjinKwon commented on #242
Hm.. I think you want

[code]

...?

[2017-03-15 08:04] HyukjinKwon commented on #244
Hm... it seems working okay.

[code]

[code]

Do you mind if I ask some more contexts? Let me try to reproduce that.

[2017-03-15 08:42] harrison-sbry commented on #244
Sure, I apologize I'm not able to isolate the issue more myself.  Whatever is happening is buried in our application code.  I only noticed this issue after our upgrade to Spark 2.0, Kafka 10.  And to reiterate, we _only_ see this when reading from Kafka, so it's hard to reproduce without a full environment.  There is no issue when reading from a file.  I cannot guarantee that this is an issue with

[2017-03-15 08:43] harrisonmebane commented on #244
Sure, I apologize I'm not able to isolate the issue more myself. Whatever is happening is buried in our application code. I only noticed this issue after our upgrade to Spark 2.0, Kafka 10. And to reiterate, we only see this when reading from Kafka, so it's hard to reproduce without a full environment. There is no issue when reading from a file. I cannot guarantee that this is an issue with spark-

[2017-03-15 09:06] HyukjinKwon commented on #244
Yea, definitely good to report this. Thank you. Let me maybe try to do several things by myself.

[2017-03-15 19:50] shermilaguerra opened #245 "flattening xml array in pyspark"
Please,
I have read a xml file into pySpark.
This file has the following structure:

root
 |-- title: string (nullable = true)
 |-- author: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- initial: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- lastName: string (nullable = true)

show()

+--------------------+-

[2017-03-15 22:24] shermilaguerra commented on #245
I get dfArtPublicadosA.select("_SEQUENCIA_PRODUCAO",  explode("AUTORES").alias('autores')).collect()

[2017-03-16 14:11] harrisonmebane commented on #244
Never mind, it was something I was doing in the code.  Apologies for the false alarm, and thanks for looking into it!  Closing this now.